[2013-01-05 07:28] gbraad opened #1 "Buildscript"
Several functions would need to be added to the buildscript
- Concatenate
- Uglify/minify

[2013-01-05 11:28] gbraad opened #2 "Separating components"
Moving components to their own files and remove unncessary dependencies

[2013-01-06 13:23] #2 closed, assigned to s-macke

[2013-04-26 21:45] ysangkok opened #3 "Networking support"
Hi, I'm very glad I found this project. This issue is basically the same as [the one I raised on jslm32](https://github.com/ubercomp/jslm32/issues/1). Since it seems like there already is UART support here too, it seems it is only a matter of building pppd for or1k and adding the UART. The forwarding could be possibly be done with the code from jsmodem, [if it was opensourced](https://github.com/e

[2013-04-26 22:26] ysangkok opened #4 "License missing"
There is no license specified. I'd suggest a short notice in the README.md and a LICENSE.md containing the proper license.

Thank you for your efforts.

[2013-04-29 21:57] #4 closed, assigned to s-macke

[2013-09-18 07:14] k5e opened #5 "Speed of time seems to be dependent on the MIPS"
I just tested the emulator with asm.js in Firefox 23.0.1. It seem that the time runs faster with more MIPS:

w/o asm.js @ ~6 MIPS - 10 seconds progress in 15 sec. real time
with asm.js @ ~90 MIPS - 2:30 minutes progress in 15 sec. real time

[2013-09-20 15:46] arcanis opened #6 "Compiling programs for jor1k"
Hi,

How can we compile custom utilities for jor1k (I've looked for a wiki page, but it seems currently missing) ? I'm not familiar with OpenRISC, is it possible to use compilers such as gcc / clang ?

Thanks,

[2013-09-20 15:55] #6 closed, assigned to nobody

[2013-10-26 02:21] andrakis opened #7 "fbdemo.c, pascal.c fail to compile on asm.js core and Firefox 24.0"
GCC fails to compile either `fbdemo.c` or `pascal.c`, but does work on `hello.c`.
Switching to the standard core gets gcc working again, and then afterward you can switch back to the asm.js core to run the application and it seems fine.

This is using your hosted "GNU C Compiler" image, running from s-macke.github.io.

Output from compile:

[code]

[2013-11-05 20:22] #5 closed, assigned to s-macke

[2013-11-11 18:47] #3 closed, assigned to s-macke

[2013-11-11 19:25] #7 closed, assigned to s-macke

[2014-05-14 03:37] lliwsivad opened #8 "Can't get it to run locally from ie"
any suggestions?

[2014-06-17 00:39] #8 closed, assigned to nobody

[2014-06-20 07:51] angrave opened #10 "pthread lib is missing"
The link library for pthreads is missing from the gcc image hdgcc.bz2
Steps to reproduce:
gcc -pthread hello.c

[2014-06-21 14:29] benjamincburns opened #11 "Add support for new atomic instructions"
Per @blueCmd, the new OR1K glibc used by the OR1K Debian port requires the new atomic operations. I think this is the only thing preventing us from running a Debian image.

[2014-06-24 04:46] #11 closed, assigned to nobody

[2014-06-26 16:36] angrave opened #15 "UART Flow control; unreliable rx; corruption when sending >4KB"
uart is unreliable when quickly sending >4KB to the kernel.
My explanation for this is that we overflowing the Kernel's 4KB FLIP buffer.

In uart.js I've implemented several flow control mechanisms (in band xon-xoff, and hardware dtr-dts,cts). Which mechanism is used can be changed by editing the settings at the top of uart.js
The basic idea is that unlike a real 16550 uart we have an infinitely l

[2014-06-26 17:45] angrave opened #16 "Feaure: Filebased device driver ;use LocalStorage/BrowserFS ; a sketch"
Some initial thoughts on how to implement a browser-backed filesystem.
i.e. files stored in Linux are just file entries stored inside the browser.

Use BrowserFS that amongst other things, wraps LocalStorage and provides a nodejs-style filesystem API
https://github.com/jvilk/BrowserFS/blob/master/README.md
http://nodejs.org/api/fs.html
BrowserFS supports directories, lazy-loading from a remote ser

[2014-07-10 22:02] #15 closed, assigned to nobody

[2014-07-22 21:32] s-macke opened #21 "Support for virtio interface"
Support for the virtio interface would be great addition for jor1k. It opens an enhanced way to support a lot of different devices. The devices can be chosen at runtime and not during kernel compilation.

A virtio enabled kernel can be found here:
www.simulationcorner.net/vmlinux-virtio.bin.bz2

[2014-07-22 21:37] s-macke opened #22 "Support for virtio devices"
Once the virtio interface is finished (look at the other issue) we need support for the following the devices:
virtio-network
virtio-console
virtio-block
virtio-pci (not sure, if this would work)

[2014-07-22 21:40] s-macke opened #23 "Support for virtio 9p filesystem"
Support for the virtio 9p filesystem would allow us to manage a whole filesystem outside of the emulated machine.
For example a home folder which is mounted via the FileSystem APIs of modern web browsers.
Once this is done we can use 9p as root filesystem and load directly files from the webserver instead of a block device image.

[2014-07-22 21:43] s-macke opened #24 "Add status screen"
One of the main applications of jor1k is teaching. It would be therefore nice to add a status-screen with statistics about syscalls, page faults, exceptions, network usage, filesystem usage, and further debug messages.

[2014-07-22 21:52] s-macke opened #25 "Better timer handling"
In the main loop every iteration the counter of the timer is checked and increased. This check should be performed outside of the loop.
This would mean a significant rebuild of the systems main routine and all provided cpus.

The timer could be also more reliable. One second in the emulator could differ strongly to a real second.

[2014-07-22 21:58] s-macke opened #26 "Enhance code for keyboard handling"
Correct handling of the input is a very difficult task in Javascript.
At the moment, jor1k supports two input devices.
1. A terminal input
2. A opencore-keyboard device.

Between 1. and 2. is switched, if the framebuffer or the terminal is selected.
The code to handle both keyboards is inconsistent and merged together in form of a small hack. In order to allow multiple terminals in future, it is n

[2014-07-22 22:01] s-macke opened #27 "Change start page"
In future there will be several projects based on jor1k. It is therefore mandatory to add a proper start page. Also an own website like www.jor1k.com would be more better than gh-pages.

[2014-07-22 22:04] s-macke opened #28 "Add audio support"
Add a sound device to the Linux kernel.

[2014-07-28 19:00] #21 closed, assigned to s-macke

[2014-08-10 02:06] #23 closed, assigned to s-macke

[2014-09-04 14:14] kookiatsuetrong opened #29 "How can I use the image from your demo site?"
The Linux image when I clone from GitHub and Linux image on your demo site seems not identical, how can I use your demo site Linux image?

[2014-09-04 18:13] #29 closed, assigned to s-macke

[2014-09-23 18:46] tonigi opened #30 "`cat /proc/cpuinfo` hangs"
Looks like both `cat /proc/cpuinfo` and `du if=/proc/cpuinfo` are unable to get the content of /proc/cpuinfo, crashing the emulation.

[2014-09-24 21:38] #30 closed, assigned to s-macke

[2014-10-20 21:13] copy opened #31 "`ls /usr/lib` fails"
Running `ls /usr/lib` on http://s-macke.github.io/jor1k/ seems to trigger a bug:

![screenshot - 10202014 - 11 10 50 pm](https://cloud.githubusercontent.com/assets/1816456/4709181/9930d1a6-589d-11e4-8073-2bf33f31b86b.png)

I found the problem while running `find /`, possibly there are more directories that have this problem.

[2014-10-20 21:24] copy opened #32 "Access to undefined variables"
In the following line, `nwfid` is undefined but used as an index in `this.fid2inode`:

https://github.com/s-macke/jor1k/blob/master/js/worker/dev/virtio/9p.js#L398

[2014-10-21 19:01] #32 closed, assigned to s-macke

[2014-10-30 23:35] #31 closed, assigned to s-macke

[2014-11-04 17:07] copy opened #33 "Some applications save empty files"
I found that some applications aren't able to write to files properly, a new file is created but it's empty. `wget` and `vi` have this problem, `nano`, `cp` and `gzip` work properly.

`vi` also truncates existing files if you write them:

[code]

[2014-11-05 04:56] #33 closed, assigned to s-macke

[2014-11-28 18:37] regular opened #35 "improve modularisation/API"
I am a big fan of this project! I am thinking of integrating the emulator with an interaktive learning environment. Going through the code base, I noticed several opportunities to improve re-usability and cleaning up the overall project structure. I would volunteer to work on this, but thought, I start a discussion first.

Here are the steps I would take first
- use browserify (require) to build o

[2014-11-29 22:33] Th3G33k opened #36 "error on ipad"
Hello,
It works fine on pc but when i try to run jor1k on safari ipad mini retina, i have an error : "kernel panic - not syncing: Attempted to kill init! exitcode=0x00000007"

[2014-12-01 20:49] regular opened #37 "git crashes when cloning repo via https and sslVerify is not set to false"
to successfully clone via https, put

[code]

into /etc/gitconfig, otherwise git crashes. A better way obviously would be to put root certificates in the file system.

[2014-12-01 21:16] regular opened #38 "paste from clipboard does not work in Chrome on OS X"
Chrome Version 39.0.2171.71 (64-bit)

[2014-12-03 18:56] #37 closed, assigned to s-macke

[2014-12-04 06:24] #38 closed, assigned to s-macke

[2014-12-18 21:30] amasad opened #39 "python module loading issue"
Can't import modules in Python. Try `import time`.

For context, I'm shopping around for new ways to run interpreters in JavaScript. We implemented the original emscripten Python, Ruby, and Lua for [repl.it](http://repl.it) but now would love to have I/O support and update the interpreters which could be hard in emscripten.

Anyways, this looks awesome, would love to use it.

[2014-12-25 21:12] #25 closed, assigned to nobody

[2014-12-26 08:58] #28 closed, assigned to nobody

[2015-01-05 17:23] ysangkok opened #40 "Image viewer like fbi, xzgv, zgv, ImageMagick or xloadimage"
Would it be possible to add one of these? Currently it is not possible to view standalone images in the emulator.

Thanks.

[2015-01-05 17:37] ysangkok opened #41 "Kernel panic while deleting directory tree"
This is reproducible for me. I can supply more details if you cannot reproduce.
1. download `https://pypi.python.org/packages/source/s/simplejson/simplejson-3.6.5.tar.gz` to host machine
2. upload the file to the emulator
3. extract it using `tar xf simplejson-3.6.5.tar.gz`
4. delete the directory using `rm -rf simplejson-3.6.5`
5. kernel panic

[2015-01-05 17:59] ysangkok commented on #39
importing [`__future__`](https://docs.python.org/2/library/__future__.html) still hangs Python... Simplejson requires `__future__`.

[2015-01-05 21:47] s-macke commented on #41
Yes, I know this error for month now and couldn't find the problem, even after several hours of searching. It is somewhere in the virtio/9p part. What I know is, that this also happens with an emulated x86 CPU, but my implementation of virtio/9p.
At the moment my best guess is, that there is an error in the Linux kernel and that I trigger it somehow.
Virtio expects, that the hardware directly mani

[2015-01-05 22:35] s-macke commented on #39
The __future__ library is there, but it cannot be loaded on github pages because it starts with two underscores __future__.py.

I fixed this problem with the following patch
https://github.com/s-macke/jor1k-sysroot/commit/66673787286c171e6915abd2ea8c6f929a7cca64

[2015-01-05 22:53] s-macke commented on #40
For the moment, you can use dillo or links to view images. They are both web browsers.

[2015-01-06 13:22] #40 closed

[2015-01-06 13:23] ysangkok commented on #40
Ah, yes, totally forgot about them.

[2015-01-06 13:41] ysangkok commented on #39
Thanks!

[2015-01-06 13:41] #39 closed

[2015-01-06 13:45] ysangkok opened #42 "ReferenceError: DebugMessage is not defined"
When running some code that crashes because it needs too much memory, I get this error. This seems to be the source: [worker/messagehandler.js](https://github.com/s-macke/jor1k/blob/d31dcc8571b2686373dad8a4479a868b705efe2f/js/worker/messagehandler.js#L21)

In the master [Debug, not DebugMessage is used](https://github.com/s-macke/jor1k/blob/a5f457cf687057eab59dbc30368f2033c4f96756/js/master/messag

[2015-01-06 14:40] s-macke commented on #42
Yes, the function name is wrong.
Fix: https://github.com/s-macke/jor1k/commit/801ec44d2f800785f6c4dcc225ab769882f6923c

[2015-01-06 14:40] #42 closed

[2015-01-08 12:14] regular commented on #10
Is the UART problem solved by now?

[2015-01-08 12:16] regular commented on #24
can we use dtrace for this?

[2015-01-08 12:31] regular opened #45 "automatic switching FastCPU vs. SafeCPU?"
There are three different CPU implementations. The SMP one I think is not really stable (gets more unstable when the numbers of core increase)
Is the FastCPU actually unsafe? i.e. is there a scenario where it fails? (a certain browser environment for example). If so, would it be possible to detect that failure and switch to the safe cpu?

My feeling so far: the FastCPU is stable and safe.

[2015-01-08 12:56] s-macke commented on #10
Yes, the problem was solved a long time ago by me. Actually almost everything important has changed since this issue.

[2015-01-08 15:58] s-macke commented on #45
Yes, the SMP one is not really stable yet. I don't know why, but have some ideas to find the error.
The slow CPU is the reference, in which the CPU is implemented like in the specification. I don't care about speed.

The fast CPU is optimized for the code it executes.
- flags are never used and therefore omitted
- timing might not be exact (Check for an interrupt for example)
- use my own implemen

[2015-01-08 15:58] #45 closed

[2015-01-08 16:07] s-macke commented on #24
No, I wouldn't do it on Linux emulation level, but on the Javascript level.
A stats-object which can be accessed by every device. (like message). And the user can choose which details he wants to see. Especially interesting is the filesystem. Which files are downloaded and which are opened. A button next to the framebuffer to switch between the framebuffer and different debug outputs. At the momen

[2015-01-08 16:53] s-macke commented on #27
note: maybe use https://github.com/jquery/jquery-ui
floating dialogs or the accordion might be good, together with a sidebar.

[2015-01-08 21:30] ysangkok opened #46 "Terminal colors bugs when scrolling up in GNU Screen"
To reproduce:

1. start GNU Screen using `screen`, press enter to close the intro screen
1. run `seq 0 100`
1. go to copy mode using `ctrl-a` and then `[`
1. press the up key until only the previous page is visible
1. the background is all white, but it shouldn't be

After scrolling back down, the screen remains white. After exiting copy mode, the next commands have the correct color.

[2015-01-08 21:54] s-macke commented on #46
Possible, to figure out the correct behavior of the terminal is mainly trial and error thing. There is no doc (except other source code), which defines the behavior correctly.

[2015-01-09 16:43] dugoh commented on #41
Can you share the current kernel .config?

[2015-01-09 16:59] ysangkok commented on #41
@dugoh here it is: jor1k.com/or1k-toolchain.tar.bz2

in patches/linux/CONFIG_LINUX

[2015-01-09 17:41] dugoh commented on #41
That's more like it (compared to the one in jor1k-toolchain-builder), thx!

[2015-01-09 20:01] s-macke commented on #41
The repository is outdated, but links in the readme to the newest toolchain file.

[2015-01-10 05:05] gbraad opened #49 "Packaged (or hosted) app / Offline usage"
For sure if this is a wise idea ;-), but it seems like it is possible to run Jor1k on a FirefoxOS Flame and the speed is actually quite decent. The keyboard does not pop up, so no direct input is possible... however, it would be possible to package the Jor1k into a hosted app (using application cache) for offline usage, or bundling it as a packaged app.

![jor1k](https://cloud.githubusercontent.co

[2015-01-10 14:38] s-macke commented on #46
fixed
b1d35bfc76d085bfb48cdfdd81f9bb309181e99a

[2015-01-10 14:38] #46 closed

[2015-01-11 01:40] ysangkok opened #52 "Seeking and writing isn't working"
To reproduce:

[code]

Expected: `dd` shows one byte written
Actual: `dd` writes 0 bytes

Note: if I specify `skip=0`, one byte is written, as it should.

Also, by verifying with `head -c32 orion_1.mpg | hd`, I can see that `dd` doesn't lie about not having written anything.

[2015-01-11 10:07] s-macke commented on #52
I can reproduce the problem.

[2015-01-11 10:09] s-macke commented on #52
My Linux machine here behaves the same.
So the problem might not be jor1k related.

[2015-01-11 10:16] s-macke commented on #52
Can you try "seek=1" instead of "skip=1"

[2015-01-11 12:31] ysangkok commented on #52
Ah, yes. Reporting bugs too late in the night I guess... :weary:  Sorry.

[2015-01-11 12:31] #52 closed

[2015-01-11 12:41] s-macke commented on #41
Tried 3.19-rc3. No luck.

[2015-01-12 21:32] regular opened #56 "tmux segfaults on startup"
[code]

Any idea?

[2015-01-12 21:40] s-macke commented on #56
The error is somewhere in libevent. That's all I know.

[2015-01-14 14:09] s-macke commented on #56
Problem fixed
https://github.com/s-macke/jor1k-sysroot/commit/d9b98a603c9f0c64e01395cd05016816b9c9572b

The bug had nothing to do with openrisc.

tmux had the following lines in the code to fix some problem in ncurses I guess.

´´´´

        /* Delete curses data. */
#if !defined(NCURSES_VERSION_MAJOR) || NCURSES_VERSION_MAJOR > 5 || \
    (NCURSES_VERSION_MAJOR == 5 && NCURSES_VERSION_MINOR > 6)

[2015-01-14 14:09] #56 closed

[2015-01-14 15:50] s-macke commented on #56
Note, that there are terminal related problems, when you detach the screen. Looks like the CR/LF behavior is changed.

[2015-01-29 03:36] neelabhg opened #58 "Two terminal support"
This follows from our discussion with @ysangkok at cs-education/sysbuild#17. I thought this is a better place to bring this up.

We are using a fork of jor1k in [cs-education/sysbuild](https://github.com/cs-education/sysbuild), a programming learning tool.
For our tool, we had enabled and implemented a second terminal using `tty1`. The way it is currently done is that a modified version of `jor1k-

[2015-03-17 01:22] moodz opened #61 "hangs during boot ??"
Nice project ... tried local hosting on IIS and on hosted  ( litespeed ) .. the page loads up OK and commences to boot but then hangs. Same on win7 ( chrome,IE, firefox), OSX ( chrome, firefox ) android ... reloaded from Github multiple times but still hangs during kernel boot and not at the same point everytime. The "official" site works  works/boots fine though.

[2015-03-17 08:33] s-macke commented on #61
All the browsers come with a security feature, that disables the loading of binary files from a local folder.
You have either disable this feature or run the files from a local web server. Under windows, you can take http://www.rejetto.com/hfs/ for example.
If you use Chrome, you can disable the security feature by starting Chrome with the parameter "--disable-web-security"

[2015-03-17 08:33] #61 closed

[2015-03-17 21:18] moodz commented on #61
Hi .. thanks for that ...  however I am getting the same behaviour from 3 completely different installs ( ie different machines / networks / software - tested on windows / linux / android )
 ... only your demo site fully loads OK ( so I figure its not my security settings - or your demo site would not load ? )

I have a test URL at www.beepstick.com/jor1k

8:06:12 AM 127.0.0.1:55899 Requested GET

[2015-04-01 09:35] #36 closed

[2015-04-26 09:30] neelabhg commented on #24
This is awesome. I would love to help, let me know what I can do.

[2015-04-27 00:31] neelabhg commented on #58
Closed in pull request #63.

[2015-04-27 00:31] #58 closed

[2015-04-27 07:03] s-macke commented on #24
Just start. You can't do much wrong, because I have no idea yet, how to implement it in a nice way.

[2015-04-27 07:21] s-macke commented on #24
For the moment, it doesn't matter how the stats are displayed. If instead of the framebuffer, in the terminal or outside of terminal and framebuffer.

[2015-04-27 11:23] ysangkok opened #64 "terminal broken after exiting tmux"
reproduction:

1. launch jor1k
1. start tmux
1. press ctrl-d
1. terminal broken (only one line visible, even `reset` or `stty sane` doesn't fix it)

[2015-04-27 12:08] s-macke commented on #64
Yes, there is some terminal weirdness. But the terminal, which is used has no internal states, which could alter the \r \n behavior. That means, that tmux alters somehow the assumptions about the terminal.
I havnt's been into the details yet. But I think, this has to do with some missing terminal features. Look at "stty -a". He doesn't tell me the rows and columns and there is even a "No such file

[2015-04-27 12:44] s-macke commented on #64
The "stty -a" output is identical before and after tmux.

[2015-04-28 10:08] ZaDarkSide commented on #64
Try http://terminal.jcubic.pl/

[2015-04-28 11:24] s-macke commented on #64
If you set "stty rows 24" before you start tmux the problem disappears.
The question is how to solve it. When terminals change their size they send the new rows and columns. But do they also send the data when they initialize? What is the correct behavior? I can set the rows in the init script. But I don't like the solution, because jor1k allows other terminals with other sizes too.

[2015-04-29 07:54] trabitboy opened #65 "network support down"
Hello,
network support appears not to work;
is the demo server down,
or is it something custom to the environment I am running in ?
I am investigating hosting a version at home :)
( Kudos on this AWESOME project )

[2015-04-29 08:09] s-macke commented on #65
Hi, actually it is still working. However it doesn't support a ssl connection. Google changed their algorithms, so that https is preferred over http. That means, that a direct search in google finally leads to the github https website.
Unfortunately that means, that any further connections like websockets are denied by the web browser when it is not encrypted. I will ask the relay operator, what w

[2015-04-29 08:52] trabitboy commented on #65
Thanks for the quick reply !
Actually I can't get any connection at all;
to make sure very basic network is working ,
shouldn't ping www.google.com work ?
# sorry for eventual noobness #
I tested that websocket works from here,
but only with secure websocket
( http://www.websocket.org/echo.html )

[2015-04-29 09:01] s-macke commented on #65
Yes, ping to www.google.com should work. And I tried it 1 minute ago with Firefox, IE and Chrome in Windows. No problem. You are definitely on this page? http://s-macke.github.io/jor1k/demos/main.html
And not on https://s-macke.github.io/jor1k/demos/main.html ?

You can take a look at the console/debug output of your browser. Maybe there is some error message.

[2015-04-29 09:08] s-macke commented on #65
The relay is ws://relay.widgetry.org/
But it might be, that other websites than the official one are not allowed to access the network.
Also for me the echo test it not working.

[2015-04-29 09:17] trabitboy commented on #65
hello,
ping doesn't work and actually,
I have a ton of websocket errors in the console :)
I'll try to setup a websocket connection from here to my home server to understand the ins and outs .

![websocket](https://cloud.githubusercontent.com/assets/110751/7387897/4ef9fbda-ee61-11e4-9174-787fdd7868eb.png)

[2015-04-29 09:29] trabitboy commented on #65
Is there a way I can assert / test the websocket aspect by typing a function call in the debug console ?
( simulate a connect, simulate a send )
I realize I should read the code to find this :)

[2015-04-29 09:31] ysangkok commented on #65
@trabitboy: Try this: https://www.websocket.org/echo.html (remember to
check the TLS box or it won't connect)

[2015-04-29 09:33] trabitboy commented on #65
The echo test works ( I posted a bit earlier about it )

[2015-04-29 09:35] ysangkok commented on #65
Could it be that your network has a proxy intercepting and altering your traffic? This often happens in corporate settings or if you have a router capable of filtering cookies. HTTPS traffic wouldn't be affected because the router can't generate valid certificates, so it doesn't even try to alter it.

[2015-04-29 09:38] trabitboy commented on #65
Yes connection goes through an http proxy;
that's why I wanted to setup a node.js websocket server at home and see if I can get it to work.

[2015-04-29 09:43] s-macke commented on #65
A few days ago, I changed the behavior of the websocket. It tries only to connect three times and then give up. Every time it writes the whole websocket object on the console.
https://github.com/s-macke/jor1k/commit/e293ef2b38562683d22d0fc7c1e59629206e7533
The source code is in this file:
https://github.com/s-macke/jor1k/blob/master/js/master/dev/ethernet.js

[2015-04-29 09:47] s-macke commented on #65
To trigger the opening of the websocket you can try to execute:
    jor1kgui.ethernet.OpenSocket()
in the console. You can also type
    jor1kgui.ethernet.url
to get the url.

[2015-04-29 09:55] trabitboy commented on #65
Thanks !
Actually it fails with a 403 :)

When I look at the network view on http://www.websocket.org/echo.html,
it's the same ( http gets a 403 but the https returns fine ) .

So it just needs an https server;
there is nothing "really blocking or bug " .

[2015-05-04 02:41] benjamincburns commented on #65
Sorry it has taken me so long to respond. I'm the guy who runs the relay. I have just enabled support on the relay and have pushed the change to master. I'm about to push the change to the github.io branch which connects using a secure websocket.

As an added bonus, this will make the virtual network behave a lot more like a VPN, as all traffic in/out of the relay server will be encrypted.

[2015-05-04 02:58] benjamincburns commented on #65
Looks like everything is sorted now. SSL support enabled in `gh-pages` and `master`. Please reopen issue if I missed something.

[2015-05-04 02:58] #65 closed

[2015-05-05 08:29] trabitboy opened #67 "having terminal in non canvas / request animation frame in firefox 24"
I have been trying to test from a place where the browser is locked to firefox 24, which normally supports requestAnimationFrame() but gives an error with the exact signature used in tty refresh.

Browsing the code I saw there is alternate/ legacy implementation that renders to a table,
depending on the item type in the dom ; is it still supported ? is there an alternate index.html to try it .

Pu

[2015-05-05 17:23] s-macke commented on #67
Hi trabitboy
actually it is working with a table. Try the following link:
http://jor1k.com/jor1k/demos/termtable.html
But the table version of the terminal also uses the requestAnimationFrame method at some point.

[2015-05-05 19:11] s-macke commented on #67
I tried the current jor1k with Firefox 24 portable. Works without problems.
What is the exact error message?

[2015-05-05 19:13] trabitboy commented on #67
Tomorrow first thing, I am back on more recent FF for tonight :)
Le 5 mai 2015 21:11, "Sebastian Macke" <notifications@github.com> a écrit :

[2015-05-07 07:36] trabitboy commented on #67
sorry for incorrect report,
version is firefox 22.0,
error is :

[09:27:59.467] TypeError: window.requestAnimationFrame is not a function @ http://s-macke.github.io/jor1k/bin/jor1k-master-min.js:1034

[2015-05-07 07:39] trabitboy commented on #67
you were right terminal version also blows up on request animation frame

but this seems to run so must use a slightly different / alternative api :
http://jsperf.com/request-animation-frame-tests

[2015-05-07 07:44] trabitboy commented on #67
no it gives an error too :)
any chance of detecting the failure and putting the blit code in a setInterval()  ?
I can have a go myself .
Trying to do a local setup of the emu for that.

[2015-05-07 08:05] trabitboy commented on #67
Hi , I'll try to do a conditional lookup for
 (window.mozRequestAnimationFrame) window.mozRequestAnimationFrame(renderLoopRAF);
as soon as I get a local version working ...

[2015-05-07 09:16] s-macke commented on #67
Can you try the following link?
http://jor1k.com/jor1k/demos/main.html
I removed the requestanimationframe function.

[2015-05-07 09:26] trabitboy commented on #67
It works !
That is awesome

On 7 May 2015 at 11:16, Sebastian Macke <notifications@github.com> wrote:

[2015-05-07 12:16] trabitboy opened #68 "mount local folder using files api ( recent browser )."
Uploading a file and downloading a tar.gz is cool,
but being able to mount a local directory would be interesting .
On browsers supporting the files api, it is technically possible.
I have no idea how to program a linux fs from scratch, but as jor1k already has a js based filesystem,
probably changing its backend to target files api doesn't seem too far fetched ?
#motivated#

[2015-05-08 03:37] benjamincburns commented on #68
If you go to work on this, perhaps you should consider writing it as a separate client-side npm module which translates 9p to the files API?

[2015-05-08 07:44] trabitboy commented on #68
I'm a bit confused by the npm reference? I was thinking everything in browser  ?
( my target is to get embedded linux to grep, process , local folders for instance, because I don't have the rights to install cygwin/exes )
Trying the html5 files api at the moment. I'll look into 9p ( I don't know anything on the inners of filesystems right now ) .

[2015-05-08 08:49] trabitboy commented on #68
I was under the wrong assumption that the files apis was also able to write,
so I know understand better your comment about node.

[2015-05-08 09:00] s-macke commented on #68
trabitboy, you are not the first who is suggesting it. It is possible and would be a nice feature. However when I read the red boxes on the websites like
https://developer.mozilla.org/en-US/docs/Web/API/File_System_API
http://www.html5rocks.com/en/tutorials/file/filesystem/

my motivation drops to zero implementing it. With "some browsers" you mean basically Chrome.

A implementation on the server

[2015-05-08 09:10] trabitboy commented on #68
Well actually I also have access to an old-ish chrome in this restricted environment, and I don't mind to investigate.
Knowing js and c , and absolutely nothing on filesystems , it sounds kind of fun to hack a backend;
I will probably have questions though .

[2015-05-08 09:41] s-macke commented on #68
You are free to do so. POSIX filesystems are not complicated. However, to support the current filesystem API, you have to modificate a lot of the current implementation. It begins with a message based interface to the main thread, because I think, that the filesystem API doesn't work in a worker thread.

[2015-05-11 15:27] trabitboy opened #69 "request for ftp command"
hello,
I read in one of the docs that easiest way to add software to the linux image is to ask for it because of the custom build chain. Would it be possible to have "ftp" command line tool?
We use it to pass small development builds around.

[2015-05-11 19:24] benjamincburns commented on #69
Two things:

First, if it helps any, it looks like you already have `sftp` and in a pinch you can do quite well with `tar`, `telnet` and the pipe operator. This is called a [tarpipe](http://blog.extracheese.org/2010/05/the-tar-pipe.html).

Second, this is really what a package manager is for. For a distro of this size, `opkg` would be ideal, however I did do some[1] work a while back to see about

[2015-05-11 21:40] s-macke commented on #67
I removed the requestanimationframe. Normally I wouldn't remove a feature just to support an old web browser. But the function call was never necessary and the patch makes the code easier to understand.
https://github.com/s-macke/jor1k/commit/aacd31a8937f3db8c740373e03861b3cc3bbfe8c

[2015-05-11 21:40] #67 closed

[2015-05-11 22:16] s-macke commented on #69
@trabitboy: busybox comes with ftpput and ftpget. Is this not enough?
An alternative would be to compile NcFTP or inetutils. I can try it.

[2015-05-12 11:19] trabitboy commented on #69
Thanks for the really useful/ educative answers ;
trying the ftpput get / then tarpipe out of curiosity .

On 12 May 2015 at 00:16, Sebastian Macke <notifications@github.com> wrote:

[2015-05-12 20:49] s-macke commented on #69
I compiled ncftp without problems. However the program crashes when a ftp connection is established. Somewhere in a memcpy routine.

[2015-05-12 21:10] trabitboy commented on #69
I could use ftpget and ftpput without pb;  if I succeed in getting a
directory listing with telnet, my use case is covered!
Le 12 mai 2015 22:49, "Sebastian Macke" <notifications@github.com> a écrit :

[2015-05-13 14:04] trabitboy commented on #68
Trying to look into "hacking" a hardcoded fs in the existing implementation to begin with;
I was wondering what your development workflow was ?

I can run the "simple" demo locally in my browser, but I can't see or breakpoint the dynamically loaded js in either firefox or chrom or get easily debug messages from the worker thread.
How do you work?

[2015-05-13 14:49] s-macke commented on #68
For debug messages I use the following code
message.Debug("This is my string");
The debug message is sent to the main thread and is then printed via console.log

To stop the current emlation you can use the message.Abort() function

[2015-05-14 01:26] benjamincburns commented on #68
I was just suggesting writing an npm module because there's likely bits that are reusable. You can use npm as a package manager for client side code w/ request.js or browserify.

If you want to keep everything nice and modular and well encapsulated, you'll likely be writing a chunk of code which converts 9p messages to JS function calls, and then a separate module which registers a bunch of functi

[2015-05-18 19:54] s-macke commented on #64
https://github.com/s-macke/jor1k/commit/87c6b044a3a5f89c25cdb28eb24879b774f11e4e
Can you check if it works?

[2015-05-18 21:16] ysangkok commented on #64
works great, thanks

[2015-05-18 21:16] #64 closed

[2015-05-21 13:11] trabitboy commented on #68
Hi, I've been testing chrome local file api, but you can only write to a sand box, which I can't seem to find the location of, so usefulness is not very high ...

[2015-07-13 10:39] s-macke commented on #22
A lot of virtio devices are implemented, but not acticvated yet. Even initial support for virtio-gpu.
I will switch when I update the kernel. Hopefully it will also work for riscv. But riscv does not support mmio.

[2015-07-13 10:39] #22 closed

[2015-07-17 20:26] ArielAbreu opened #80 "Need help with Virtio"
Hey! Look, I help out with the [runtimejs](https://github.com/runtimejs/runtime) project (don't know if you know about it, but anyways) and I need some help with `virtio-blk`. There isn't any documentation mentioning headers for reads or writes, but QEMU errors and gives me this: `virtio-blk missing headers`.
My code (`data` is another Uint8Array):
[code]
I've been banging my head on this issue (n

[2015-07-17 20:41] s-macke commented on #80
Hi,

no I am not famiiiar with runtimejs. But sounds interesting.
You can find the spec of the block virtio device here:
http://docs.oasis-open.org/virtio/virtio/v1.0/csprd01/virtio-v1.0-csprd01.html#x1-1120002
I have implemented it myself here: https://github.com/s-macke/jor1k/blob/master/js/worker/dev/virtio/block.js

For me it looks like you assume, that each part of the header has a size of 1

[2015-07-17 20:53] ArielAbreu commented on #80
I've adapted your `Marshall` function to this:
[code]
Given the following I still get the error, is QEMU's implementation different?
[code]
Or should I be using 'd' instead of 'w', and 'q' instead of 'd'?

[2015-07-17 21:03] s-macke commented on #80
Looks Ok for me. You should set the offset to 0. And I am not sure, if it is Ok, to have zero bytes to read/write. Because that seems to be the case. Maybe enlarge the transferred size to to 512+16;

[2015-07-17 21:08] ArielAbreu commented on #80
Thanks for your help, but QEMU still keeps whining. I'll figure it out sooner or later. Thanks again.

[2015-07-17 21:08] #80 closed

[2015-07-17 21:51] s-macke commented on #80
Virtio is a complicated protocol. There might be another problem somewhere.

[2015-07-23 23:58] remisharrock opened #84 "Kernel panic - not syncing: VFS: Unable to mount root fs on unknown-block(0,0)"
Hello,
when I launch the demos on the [gh-pages branch] (https://github.com/s-macke/jor1k/commit/d2a34058d8ed01ae472e71a5fbfa279a1cf2fdc5), it works.
But when I launch the demos on the [current master branch] (https://github.com/s-macke/jor1k/commit/3b93c4df8655ace57be1f51469ec4861ab7a75d5), I get this error :

![image](https://cloud.githubusercontent.com/assets/8048877/8864812/eb640672-31a6-11e5-

[2015-07-24 00:32] s-macke commented on #84
Yes, sorry about that. You need a newer kernel binary. Since Linux 4.0 or 4.1 they changed the endianess behavior of virtio. I didn't update the kernel, because the smp version doesn't work yet and everytime I update the kernel the repository increase by a few MB.

[2015-07-24 00:39] s-macke commented on #84
you can try http://jor1k.com/jor1k/bin/or1k/vmlinux.bin.bz2

[2015-07-24 00:43] s-macke commented on #84
Also I plan to change a lot of drivers to use virtio. That's why I might wait until Linux 4.2 until I update everything.

[2015-07-24 07:49] remisharrock commented on #84
@s-macke  : thanks ! I tried without success, same error.
By the way, could you give the code code for http://jor1k.com/sync/upload.php  and how to setup wss://relay.widgetry.org/ ?
I'd like to have a working installation on one server.
How is going the local file system integration ? Also waiting for linux 4.2 ?
Great job, I love your projet !

[2015-07-24 09:00] ysangkok commented on #84
@remisharrock The websocket server is easy to setup, just run the Python script: https://github.com/benjamincburns/websockproxy

[2015-07-24 12:22] s-macke commented on #84
The cloud function was broken. Fixed it. :)

Here is the script. It never worked flawless.

I. e. the user seems to have to upload the whole file and then it is checked if the size matches. This check should be done before uploading somehow and then the file should be rejected.
Also I am not sure, if the error messages are returned correctly.

There is also some shell command executed dependent on

[2015-08-22 16:36] bsapwindows opened #100 "Can's use ssh-chat properly"
There's a tiny issue with the terminal window. After ssh-keygen, I tried to play with [ssh-chat](https://github.com/shazow/ssh-chat) with `ssh chat.shazow.net`, I can join and see others talking but it seems I can not send any messages.

[2015-08-23 21:39] s-macke commented on #100
I can reproduce the error. It works perfect with my own Linux system. So there might be indeed an error in jor1k. However I don't know what's the reason.
The console input stream is the same for both cases. So it might be a configuration problem in ssh or Linux.
The best way would be to run a ssh-chat server with debug output and see what happens.
Because there also might be an error in ssh-chat.

[2015-08-24 14:49] bsapwindows commented on #100
I've set up a ssh-chat server and run with `--verbose` flag on my relay, no error showed up. And you may have noticed that `ctrl + c` will still kill the process after you join the chat, which normally it shouldn't, you have to use `/exit` instead.

Have you tried this: ssh into the jor1k instance then use `ssh chat.shazow.net` from there, it will work as intended. (I sshed through my own relay, I

[2015-08-24 19:30] s-macke commented on #100
Thanks for the detailed error description. I tried to run the ssh connection within tmux and it works. That means, that something is wrong with the terminal. I guess I have to ask some terminal experts.
I don't have a clue and actually I don't want to know (but I will find out) what is wrong this time. The terminal stuff is just a whole undocumented mess.

ngrok sounds like fun. Let's see. :)

[2015-08-24 20:08] s-macke commented on #100
http://unix.stackexchange.com/questions/102061/ctrl-c-handling-in-ssh-session
This website explains the differences for the ssh connection types and the behavior of the terminal.

[2015-08-24 20:47] s-macke commented on #100
I can force the problem with the "ssh -t" option. Looks like, he cannot open a pseudoterminal. I get the error "PTY allocation request failed on channel 0"
I guess ssh switches to the wrong mode after this error.

[2015-08-26 08:33] s-macke commented on #100
Looks like the pty terminal size negotiation failed because the number of columns were not set. According to the busybox "stty -a" they were already set to 80. Looks like an error in busybox.

This one fixes the problem: https://github.com/s-macke/jor1k/commit/8aff35f6986f1aa0046b12a1a3ca80a9fcdd7c7b

[2015-08-26 08:33] #100 closed

[2015-08-26 15:15] bsapwindows commented on #100
Thanks! It fixed sending message issue. But it should be color enabled in the chat, which it isn't. Could you tell me what are the possible factors that cause this? I set `TERM` to `xterm-256color`, it says `Error opening terminal: xterm-256color`, set it to `xterm`, still no color, and it broke the layout of ncurses programs like htop.

[2015-08-26 15:44] s-macke commented on #100
Yes, that's normal. The terminal is a basic one: TERM=linux which is supposed to be the one included in the Linux kernel for framebuffer terminals. You can try if you get color in this type of terminal.

The term variable is usually provided by ssh. the correct way for ssh-chat is to read the variable and to put it into ncurses to get the correct escape sequences for the specific terminals. Obviou

[2015-08-26 16:15] bsapwindows commented on #100
:smile: Cool! I just looked into the [code of ssh-chat](https://github.com/shazow/ssh-chat/blob/master/chat/message/theme.go#L52), I think you are right. Thanks!

[2015-08-26 16:56] shazow commented on #100
Yup, ssh-chat has multiple theme settings. Auto-detecting based on the TERM value is still something that needs to be done. :)

[2015-08-26 19:37] s-macke commented on #100
btw. ngrok is based on the go language.
And there is no port of the backend for OpenRISC:
 http://golang.org/doc/install/source#environment

[2015-08-26 20:15] dugoh opened #102 "top line is the same as second line in the terminal"
Steps:
[code]
In the simple demo, run seq 1 1 23

Results:
 * Expected:
[code]
 * Actual:
[code]
Environment:
  * Operating system
Some mac
  * Browser
Up to date chrome

[2015-08-26 23:19] bsapwindows commented on #100
@s-macke sadly yes. But because of that I tried to find an alternative, and I found a [C port of ngrok](https://github.com/dosgo/ngrok-c) a few days back. The reason of its existence is very considerate. The usage of it is not as elegant as original ngrok's though. And before the day I post this issue here, I found ngrok-c contains cpp code that requires g++ to compile though, so... can't have tha

[2015-08-27 07:07] s-macke commented on #100
I can cross compile C++ code. This is no problem.
However it is not included in the filesystem in https://github.com/s-macke/jor1k-sysroot because of its size.

[2015-08-27 17:17] prannoy commented on #102
Hello @dugoh , I was trying to add a buffer to the terminal and this issue seems to have come up because of one of my previous commits. I have found the reason behind this, should be fixed in the next commit.

[2015-08-30 23:11] dugoh commented on #102
Fixed, thanks!

[2015-08-30 23:12] #102 closed

[2015-09-14 07:12] s-macke commented on #84
I have started to move all binary into a submodule. Once finished I won't have to worry anymore about the size of repository.
d49616932af50f9f9cc6a1366ded18c25b3c5840

[2015-09-22 06:31] neuschaefer opened #104 "riscv/fastcpu: UMul/IMul versus their description"
In `js/worker/riscv/fastcpu.js`, there are the two functions `UMul` and `IMul`. `UMul` is documented as a signed\*signed multiplication and `IMul` as unsigned\*unsigned multiplication. However, their names suggest that it's in fact the other way around (`UMul` sounds like unsigned multiplication).

Which function does what?

[2015-09-22 07:52] andrakis commented on #104
If I understand you correctly, you want to know whether jor1k is doing what the (incorrect?) documentation says, or the "correct" behavior that occurs in a real device.

According to [the imul section](https://github.com/s-macke/jor1k/blob/master/js/worker/or1k/fastcpu.js#L1395), it's been implemented as per existing real devices, not what the documentation says.

[2015-09-22 09:45] neuschaefer commented on #104
I think a was a little tired when I wrote the above :)

I'm talking about [fastcpu.js](https://github.com/s-macke/jor1k/blob/master/js/worker/riscv/fastcpu.js#L853) in the (experimental?) RISC-V code. And by documentation I mean the comment in the third line of these functions.

By reading some more of the code, I found out that the `mulh` instruction (signed\*signed) uses `UMul` and the `mulhu` i

[2015-09-23 22:01] s-macke commented on #104
I think the labeling is wrong. But to check the multiplication functions was on my list anyhow. The official riscv test cases (https://github.com/riscv/riscv-tests) are fine with the implementation.

[2015-09-27 12:26] kenorb opened #105 "curl + HTTPS doesn't seems to work"
I'm testing the following commands which doesn't work at [demo site](https://s-macke.github.io/jor1k/):

    curl ifconfig.me

Basically it couldn't resolve the host.

Is there any solution to that?

Seems the network support works partially.

[2015-09-27 14:11] s-macke commented on #105
You have found a strange problem. I tried "curl ifconfig.me" on three different Linux servers and the response was not reliable and always slow. Sometimes the service answered, sometimes not. Sometimes it took 20 seconds or more. So my guess is, that it is not directly related to jor1k.
try "curl -v ifconfig.me" to check the debug output. I had success with jor1k in around 50% of tries to get the

[2015-09-27 14:25] s-macke commented on #105
Can you try ifconfig.co ?

[2015-09-27 14:47] kenorb commented on #105
Thanks for reply.

Yes, `ifconfig.co` seems to work.

What about something like:

    curl https://api.github.com/orgs/StackExchange/repos

I was reading here (#65) that SSL support is enabled.

I'm asking, as I wanted to do some experiment as sandboxing for the purpose of this [challenge](http://codegolf.stackexchange.com/q/58813/11164), just for fun.

[2015-09-27 14:52] kenorb commented on #105
Ok, I've re-tested it and it actually worked this time. Seems DNS sometimes fails to resolve.

[2015-09-27 15:00] s-macke commented on #105
Yes it works also for me.

The networking support should be complete.
There is no limitation except limited speed and that the connection to the outside world runs through a NAT. With this network configuration It is not possible to run a jor1k instance as a server.

[2015-09-28 04:55] bsapwindows commented on #105
Maybe you could try run `jor1kgui.ethernet.OpenSocket()` in Chrome console. It worked for me.
Every jor1k instance will get only 900 of lease time (in seconds I assume), I think that's what caused this, which gave me the idea to host my own relay.

[2015-09-28 19:32] s-macke commented on #105
Hmm, is this a problem?
Maybe you want to ask @benjamincburns to change the server lease time.

[2015-09-28 23:53] bsapwindows commented on #105
@s-macke Well, I'm just suggesting that if anyone has problems like curl couldn't resolve host, it maybe because you have been opening the jor1k page for too long. And running 'jor1kgui.ethernet.OpenSocket()' in console will bring back network support without refreshing the page.

I think that's also the reason that sometimes people say the relay is down while you say it's on. Because you test the

[2015-09-29 02:12] benjamincburns commented on #105
The lease time shouldn't need to be changed. Likewise, you shouldn't need to run `jor1kgui.ethernet.OpenSocket()` yourself.

The websocket code automatically reconnects when the connection drops - usually due to sitting idle for too long. This reconnect behaviour is transparent to the virtual machine, and to dnsmasq. That is, it doesn't prompt a new DHCP lease request, and it shouldn't need to.

I

[2015-09-29 02:26] benjamincburns commented on #105
Back to the specific issue at hand...

@kenorb - in #65, I added SSL support to the websocket which tunnels ethernet frames between the emulator running in the browser, and my virtual switch (benjamincburns/websockproxy). This means that the tunnel which carries your ethernet frames is now encrypted. It does not have any bearing on SSL support within the VM itself.

With respect to ifconfig.me - i

[2015-09-29 02:27] benjamincburns commented on #105
Closing this issue as not reproducible.

@s-macke please feel free to override.

[2015-09-29 02:27] #105 closed

[2015-09-29 03:40] bsapwindows commented on #105
Hi @benjamincburns! Thanks for the clarification. In fact I agree with you. But I'm still experiencing this issue, it's reproducible from here. I'll attach a screenshot.
![screenshot](https://cloud.githubusercontent.com/assets/12470089/10154721/f1b4f7de-6662-11e5-9e21-a76895c15463.png)
I used `date +%M` to generate a timestamp. As you can see, `google.com` was resolvable at first,  after 12 minute

[2015-09-30 20:06] benjamincburns commented on #105
I test with latest Chrome and Firefox. I'll have a look at the reconnect behaviour and make sure it's still operating properly.

[2015-09-30 20:22] benjamincburns opened #106 "Chrome blocking filesystem tarball download due to requesting http resource from https page."
Per title, filesystem tarball can't be restored on chrome from github demo page.

    Mixed Content: The page at 'https://s-macke.github.io/jor1k/demos/main.html?user=ss1BsNOW9s' was loaded over HTTPS, but requested an insecure XMLHttpRequest endpoint 'http://jor1k.com/sync/tarballs/ss1BsNOW9s.tar.bz2'. This request has been blocked; the content must be served over HTTPS.

![image](https://cloud.g

[2015-09-30 20:27] s-macke commented on #106
Yes, I know. The same problem we had with your websocket connection. Since Google automatically changed to https if availabe everyone receives the encrypted page. Hence, the connection to another server must be encrypted as well. Actually my plan is to wait for the "Let's encrypt" service from Mozilla to get a cheap certificate for this.
At the moment you have to change to the non-encrypted jor1k

[2015-09-30 20:36] benjamincburns commented on #106
I'd be happy to spring for a 1 year cert from my provider if you'd like.

[2015-09-30 20:43] benjamincburns commented on #105
In Chrome 45.0.2454.85 running on Ubuntu 15.05, the Websocket reconnect behaviour works, and after 15 minutes of idle time I can still `curl https://www.google.com/`.

Reconnect behaviour can be seen working by opening the JS console and looking for the text `Websocket closed. Reopening.` If connections fail three times, we stop trying. If connection succeeds, we reset the retry counter to zero.

[2015-09-30 20:45] benjamincburns commented on #105
Both tests also successful in Firefox 40.0.3.

![image](https://cloud.githubusercontent.com/assets/803016/10206005/1b03afd0-6821-11e5-87c0-57e9f2527cd9.png)

[2015-10-01 04:33] bsapwindows commented on #105
I just tested. Chrome 45.0.2454.101 on Windows works. So does Firefox 40.0.3. Even IE 11 works too. But NOT Chrome 37.0.2062.124, which I've been using (because [there's a font rendering issue](https://productforums.google.com/forum/#!topic/chrome/55Qfm62Mwts) in many versions after that).  This can not explain why changing the lease time on my relay fixed the problem though. No idea what else I d

[2015-10-02 16:16] s-macke commented on #106
Yeah, that would be great :)
Have never configured my webserver for https. What do you need?

[2015-10-02 17:07] benjamincburns commented on #106
I'm not 100% certain yet. I'll likely just be able to send you a `.crt` to install. I'll have a look tomorrow and get in touch.

[2015-10-02 17:16] benjamincburns commented on #105
No worries, John. I wouldn't have answered if I viewed it as a waste of time. :-)

[2015-10-02 17:25] benjamincburns commented on #35
Huge +1 to this effort. If I had any time at all I'd likely be working on this.

[2015-10-02 17:27] benjamincburns commented on #16
@s-macke Can maybe close this one?

[2015-10-02 17:29] benjamincburns commented on #1
Seems to duplicate #35, (or rather, #35 seems to duplicatepart of #1)

[2015-10-02 17:34] benjamincburns commented on #24
Could see using a tty for this, or it'd be pretty awesome to send statsd messages from inside the image sent to an emulated daemon running alongside the main VM.

The latter would be a fair amount of effort but having the ability to write client side 'servers' in JS which run outside the emulator and interact via the network would probably open up all sorts of interesting things.

[2015-10-02 17:38] benjamincburns commented on #24
Otherwise, I'm not sure how you can get stats on those things without _something_ living inside the image to give them to you.

[2015-10-02 18:07] benjamincburns commented on #10
@s-macke - Probably another one that can be closed?

Also re: 10MB binary files, this [announcement from GitHub](https://github.com/blog/2069-git-large-file-storage-v1-0) seems relevant.

[2015-10-02 18:14] s-macke commented on #10
Yes, this issue can be closed

[2015-10-02 18:14] #10 closed

[2015-10-02 18:20] #16 closed

[2015-10-03 14:18] s-macke commented on #84
Done, the last commits change all binary folders to the submodule. The master branch is finally usable again. Can you test it?

[2015-10-03 19:04] s-macke commented on #104
Problem solved. The multiplication instructions still need a thorough check
https://github.com/s-macke/jor1k/commit/3ce20cb17a720e0cda56288e5d00ef5d159071c3

[2015-10-03 19:04] #104 closed

[2015-10-04 19:33] socketpair opened #107 "On-screen keyboard does not appear on iPad, when accessing console on main site"
So, I can see Linux booting on my iPad, but cannot interact with it.

[2015-10-04 19:38] s-macke commented on #107
You have to click on the small field with the content "clipb." This is the only way I know to open the keyboard.
If someone knows a better solution, I am open for suggestions. Maybe you can pretend to open a hidden text field when you click on the terminal.

[2015-10-04 19:45] socketpair commented on #107
Why not to use textarea-based terminal? i.e. not canvas-based? Like jslinux have.

Also this: http://stackoverflow.com/questions/4609765/manually-triggering-the-iphone-ipad-ipod-keyboard-from-javascript

[2015-10-04 19:54] s-macke commented on #107
As far as I know jslinux uses a <table> object and not a textarea. This is not editable as well. But he has also a textbox next to the terminal which is the equivalent of my "clipb.".
At the moment I cannot load jsLinux to test. My ipad reloads the page all the time.
To get rid of the canvas object is in my todo list.

[2015-10-07 19:15] #84 closed

[2015-10-07 20:18] s-macke commented on #107
I switched to a table based tty. I guess no difference :)

[2015-10-08 06:09] socketpair commented on #107
http://www.cybelesoft.com/zscope/web-terminal-emulator.aspx

Seamlessly integrated with mobile touch keyboards.
Additionaly, virtual keyboards could be launched when necessary.

It will be nice if you explore how they implement it.

[2015-10-08 07:51] WebSSH commented on #107
Or a better alternative open source one (HTERM) : https://chromium.googlesource.com/chromiumos/platform/assets/+/95f6a2c7a984b1c09b7d66c24794ce2057144e86/chromeapps/hterm/doc/faq.txt

[2015-10-08 11:01] WebSSH commented on #107
Or perhaps just include this virtual keyboard : http://mottie.github.io/Keyboard/docs/mobile.html

[2015-10-15 22:05] s-macke commented on #106
https://github.com/s-macke/jor1k/commit/e969123f6a79fd1aff03e690e13fdabefbc7a003
Fixed

[2015-10-15 22:05] #106 closed

[2015-11-15 21:26] cmercur2 commented on #23
Could you expand on how this enables the mounting of a file system outside of the VM? What api is exposed that enables this?

[2015-11-16 08:27] s-macke commented on #23
You can describe the filesystem as "filesystem as a device". Instead of having a block device with linear access to a data area, you send open, close, read,write,rename,remove,....  commands to the device. The interface to this filesystem device is virtio implemented as memory managed IO.
The metadata of the filesystem is saved in a json file:
https://github.com/s-macke/jor1k-sysroot/blob/master/f

[2015-11-16 16:47] cmercur2 commented on #23
That is exactly what I am after, full control of the filesystem from outside the emulator. I was looking around and found https://github.com/s-macke/jor1k/blob/master/js/worker/filesystem/filesystem.js , but I wasn't too sure if that was the correct point of entry as the stack trace was showing interaction with virtio 9p as well.
As I see it now, I can modify /worker/filesystem/filesystem.j to reg

[2015-11-16 22:37] s-macke commented on #23
Yes, that is the correct way to handle the filesystem. Just add the message handling to both files and you are done. Most functions are implemented in an atomic way. The only exception is the open function which might put the execution of the function in a queue until the file is loaded from the server. Also you will get problems when you alter or remove a file, which is currently opened by Linux.

[2016-01-09 14:00] omerjerk opened #112 "Request for explaining the internals"
Hi Sebastian,
I loved this project to its core. I downloaded the source and started reading a couple of files, but couldn't understand it at all.
Could you please write a wiki just explaining the core concepts involved ? It'd be great help.
I'd love to contribute further to this project.

Thanks
Umair

[2016-01-10 16:48] s-macke commented on #112
Hi,

thanks for the interest in jor1k.

Actually, there is a wiki. https://github.com/s-macke/jor1k/wiki
Especially the technical details section. Did you see the slides from the two talks? Especially the graph with the different modules (worker, master, devices, ...) is very important

Unfortuantely the nature of such an emulation makes it very hard to understand.
Most of the details become clear

[2016-02-01 13:40] andrakis commented on #112
This is exactly what I needed, thanks. I wanted to step through each iteration and examine how it works, and commit 04bc31aae687ddb gives me a working version that I can step through.

[2016-02-04 06:27] socketpair opened #113 "Add activity indicators"
I mean something like attached example
![preloader_flash_1](https://cloud.githubusercontent.com/assets/1157412/12807618/3a718828-cb32-11e5-89b3-f7d2d0e26e70.gif)

- [ ] CPU
- [ ] networking
- [ ] disk

And if you have a time :) also that:
- [ ] sound
- [ ] and maybe event terminal
- [ ] FPS

[2016-02-04 09:19] s-macke commented on #113
Yes, such status activity indicators would be awesome. And a list of files which are retrieved from the server. This would also require a redesign of the website.

This request is a duplicate of https://github.com/s-macke/jor1k/issues/24

[2016-03-30 16:47] socketpair opened #115 "Move to ES6/7 (babeljs) and webpack"
This may significantly reduce and simplify code base, especially asynchronous parts due to usage of `await` paradigm and many other ES6/ES7 things.

[2016-03-30 16:50] socketpair commented on #41
@s-macke you mention "emulated x86 CPU" what does this mean ? Qemu ? jor1k, that emulates x86 instead of OpenRISC ?

[2016-03-31 11:04] jwcrawley commented on #49
I have a 90% solution, right now.

I'm developing for a system called IPFS, or interplanetary File System. It's effectively a huge GIT repo for the whole world, immutable, bittorrent for transferring files efficiently, and uses dHT to find local machines that have the files you're looking for.

I have the whole Jor1k package hosted here: http://ipfs.io/ipfs/QmRymducEftvkHuYEVJFkcNtSiooUVXzsvNoPnNE

[2016-03-31 11:48] s-macke commented on #41
This one:
https://github.com/copy/v86

[2016-03-31 12:16] s-macke commented on #115
I observe the ES6 compatibility in the web browsers approx. every half a year. Looks like some browsers are still missing support for async and promises. So I would say it is too early to switch to ES6. Also I am not sure, if this would solve any of the timing problems I encounter.
http://jor1k.com/jor1k-orconf2015.pdf
Slides 30 to 36

[2016-03-31 12:24] socketpair commented on #115
I understand,but babeljs transform ES6/ES7 code to ES5. That's why this code CAN be run in browser.

[2016-03-31 12:25] socketpair commented on #115
When I talk about ES6/ES7 I mean wrapping code around jor1k core. I don't consider moving rto ES6/ES7 in emulator itself. At least for now.

[2016-03-31 16:47] gbraad commented on #49
interesting. it is not really the same as mentioned in the task as it was meant as a deployed app on a device capable of a web runtime. the installation would happen using appcache or a manifest. will definitely look into this. nice development/result.

[2016-04-02 11:49] neelabhg commented on #115
@socketpair BabelJS will be useful, however I'm not sure how performance will be affected. Even in the best case, we'll lose the ability to control exactly what gets executed by the browser (due to transpilation), thus losing control over performance.

Although I agree with your comment that the non-performance-critical parts (initialization, getting blobs from server, etc) can be migrated.

[2016-04-04 19:27] gdm85 opened #117 "Added reference to go-websockproxy"
Sorry if this is the wrong way to communicate with you guys, however please note that I have ported Benjamin's websockproxy to Go and just added a reference here:

https://github.com/s-macke/jor1k/wiki/Network-support/_compare/6946626baab0b9a0f23f25f7476499cde02b6165...de4254df4906d475b277168a45fc3e922a11864a

Hope it will be of use; in particular I think it may be useful for use with Docker conta

[2016-04-05 09:20] s-macke commented on #117
Hi gdm,

thanks for the Go implementation. Looks like the source code is very clean.
As far as I understand the authentication query can be sent from the server, but will be not mandatory. In case this query is sent, a window should pop up in which you type the password. Is it possible, to implement it and to stay compatible with the version written in Python from @benjamincburns?

[2016-04-05 12:28] benjamincburns commented on #117
If compatibility may be broken in some way just let me know how and I can
coordinate a fix accordingly for the demo page.

On Tue, Apr 5, 2016, 21:20 Sebastian Macke <notifications@github.com> wrote:

[2016-04-05 22:49] gdm85 commented on #117
@s-macke thanks for checking this out. The server-side go-websockproxy can either require or not the initial `AUTH` special frame, it depends on whether it was started with a non-empty parameter passed to `--auth-key`. If this feature is disabled then it would ignore any such frames sent from clients and it would be 1:1 with the python version (maybe a bit more strict on the possibility of spoofin

[2016-04-05 22:50] neelabhg opened #118 "Performance Regression Testing/Monitoring"
When working on this project, I'm hesitant to make changes because there doesn't seem to be a way to ensure that any changes 1. don't break things, and 2. don't degrade performance.

There are some basic tests currently present, but I think we should add more functional/integration tests to the project. However, this seems pretty straightforward to do for now, and I'll get to it as soon as possibl

[2016-04-06 02:13] benjamincburns commented on #117
I think there are likely a bunch of ways to handle auth without needing a special frame. For example, the auth token could be sent to the relay as a query string and the server could respond with 403 should this token not match.

I'm not familiar w/ standard security practises on websockets. I intend to do a bit of reading before I'm keen to settle on a particular approach.

In the mean time, I'll

[2016-04-06 17:29] gdm85 commented on #117
@benjamincburns as far as I know an HTTP auth request on websockets doesn't trigger any use interaction, it simply fails. As per the relay answering with a 403, I think that falls in the problem I described above: since packets are already flying to the relay by the time the onmessage handler of jor1k's Ethernet is checking for the 403, you would loose the possibility to put emulation on hold and

[2016-04-06 21:57] benjamincburns commented on #117
@gdm85 I understand that standard http basic and http digest auth don't work correctly for websockets, and I didn't propose these methods. Regarding a race condition between the emulator and the websocket `onerror` event (which is where this would need to be handled), I wouldn't worry much about dropped Ethernet frames, especially if the race is short. Ethernet is designed to let frames drop, and

[2016-04-07 07:34] gdm85 commented on #117
@benjamincburns sorry I didn't mean to say that you were proposing http auth/digest, I was just telling a case where websockets show a difference with common HTTP.

As per the `/capabilities` endpoint you proposed, I already said it sounds very good to me and would allow even a scenario without the lossy ethernet frame drops. The cable connect/disconnect also sounds really nice if it is ever plann

[2016-04-07 08:36] benjamincburns commented on #117
No worries, and I apologize if I seemed offended. I find it's best in
conversations like this to be a bit more explicit and deliberate than I
normally would be just to make sure my point comes across.

Regarding implementing, I'm a bit biased since I proposed the scheme, so I
defer to @s-macke as he will ultimately need to maintain it on the jor1k
side. Otherwise I'm certainly keen.

On Thu, Apr 7

[2016-04-07 19:14] gdm85 commented on #117
@benjamincburns no worries from my side either :) agree, let's hear what @s-macke says.

It looks good and sound to me

[2016-04-11 00:47] neelabhg commented on #26
I added the [Terminal Input/Output Wiki Page](https://github.com/s-macke/jor1k/wiki/Terminal-Input-Output) to get help on this issue.

[2016-04-12 09:07] s-macke commented on #26
Yes, that's basically how it works for the terminal and UART. Nice summary. Still I don't like the keyboard handling.

[2016-04-12 23:39] cmercur2 opened #119 "Sytem clock skew"
There is a significant difference between files created and modified and the system time.
![image](https://cloud.githubusercontent.com/assets/6979249/14478700/beb881e6-00dd-11e6-8769-c9db3993c69c.png)

This is causes issues with programs that compare the system time with file modification time (make).

[2016-05-09 08:29] neelabhg opened #120 "Hardlinks not properly supported and fail silently"
Original issue: cs-education/sysbuild#168

Please see the original issue linked above for exact description of the issue and detailed steps to reproduce it. The issue can be reproduced in the main jor1k demo at http://jor1k.com. Symbolic links seem to work fine.

[2016-09-22 22:47] websemantics opened #122 "Laravel"
First, such great work with endless possibilities,

Looking into running an Apache (any) web server, and [Laravel](https://laravel.com/) which requires [Composer](https://getcomposer.org/) a php package manager,

I already downloaded the project, compiled but still working on the network setup, .. any pointers of where to start with getting Laravel to work? Also [Apache Ant](http://ant.apache.org/

[2016-09-23 08:56] gbraad commented on #122
I haven't tried it myself, but Apache should be possible to get working. However, at the moment the amount of packages/binaries that are available for OpenRISC is limited. They all need to be recompiled. Getting PHP working as a CLI would be the first step before jumping into having the PHP module for Apache working.

Also, this compilation especially complicates the situation with Java. While it

[2016-09-23 09:01] andrakis commented on #122
Since you both seem to have the OpenRISC suite working, can anyone help me out getting it going?

It seems to be hosted on OpenCores.org, but every time I've tried it over the last 1.5 years I've been unable to connect to it.

I've made a project, jorconsole, that lets you run the Jor1K suite in a terminal and native file access, in Node.js. I'd like to compile more applications for it. I've never

[2016-09-23 13:01] websemantics commented on #122
I just went through [openrisc](http://openrisc.io), reminded me of my computer engineering days, but now I know what's required to get anything to work on Jor1k,.. thanks @gbraad

Also, I found out that, there's already a (RISC port of PHP](http://www.cp15.org/php/) and a HTTP server called, [WebJames](http://www.cp15.org/webjames/), .. very promising, ..  I will look into running Java, possibly n

[2016-09-23 13:50] andrakis commented on #122
@websemantics, Thank you I hadn't come across that site. I can finally start developing for it properly!

I've learned a lot from working with the code of this project, and I'm fascinated by emulation and virtual machines. I'm not aiming for production use, I'm just having fun with it.

[2016-11-04 00:03] remisharrock opened #123 "add gdb ?"
is there a way to add GDB https://github.com/openrisc/binutils-gdb ?
thanks !

[2016-11-13 19:04] s-macke commented on #123
Proof me wrong, but I think a native gdb is still not supported. I still get the error message "configure: error: "*** Gdb does not support native target or1k-unknown-linux-musl"
when I try to compile this gdb version.

[2016-11-13 19:24] remisharrock commented on #123
hmmmm...
the error message is here:
https://github.com/openrisc/binutils-gdb/blob/5a0933b80d3d5d6345573a237c9eebb780ccbcbf/gdb/configure.ac#L2199
so "or1k-unknown-linux-musl" is the value of ${host}  , shall we dig into their code ?

[2016-11-25 13:04] remisharrock opened #124 "kernel bug reproductible"
Here is how to reproduce the bug:
[code]
This produces a bug:
[code]

[2016-12-04 20:35] remisharrock opened #125 "date / time of file doesn't change on new compile ?"
With the demo
http://s-macke.github.io/jor1k/demos/compile.html
When I modify the file and hit compile and run multiple times, it keeps the first creation date/time for the source file.
You can see here that the binary is more recent than the source. If I change the source and recompile, it won't change the date/time:
[code]

[2017-01-26 15:18] olberger opened #126 "How to port a Linux distro to jor1k ?"
Hi.

I'm not sure exactly how to ask, or if that really can make sense, but how would one be able to "port" a Linux distro to jor1k ?

Typically, would it be possible to port Debian to it ?

Thanks in advance.

[2017-01-28 03:59] andrakis commented on #126
I'm not sure if it's possible, but it could be. Part of the problem there is that I doubt Debian has ports of any of their software to OR1000. This is why I'd like to create a packaging system for Jor1k that allows one to install software within Jor1k. However, it's not a trivial thing to get going.

One would either need to setup a cross compilation system and start building as many packages as p

[2017-01-28 08:09] benjamincburns commented on #126
Some work has been done porting debian to the or1k platform already. You might wish to have a look at bluecmd/or1k-debian.

That said, the process of porting a distro to or1k would be the same as the process of porting a distro to any new platform. First you'll need gcc support, then a boot loader, then kernel support, then a root fs and packages. Thankfully Sebastian and many others have done the

[2017-01-28 08:14] benjamincburns commented on #122
@andrakis and @websemantics if it helps any, you can find the network proxy on docker hub at https://hub.docker.com/r/benjamincburns/jor1k-relay/ -- if you have any trouble running it, please raise an issue on benjamincburns/websockproxy

Regarding package management, see #126 for some recent (but limited) conversation around porting a more complete distro.

[2017-01-28 08:19] benjamincburns commented on #126
Ah, bad news. It looks like openrisc.debian.net was shut down due to copyright assignment issues.

https://wiki.debian.org/OpenRISC

[2017-01-29 04:39] andrakis commented on #122
@benjamincburns Thank you so much for the Docker image. So simple to setup and get running! The instructions on your GitHub page were all I needed to get going. I now have local networking!

[2017-01-29 14:05] websemantics commented on #122
Thanks for that @benjamincburns .. I'm playing with jor1k these days, built [this](https://github.com/websemantics/linux.js) which helps me understand the project, and make it easy to build the file system and the other parts, .. so the WebSockets Proxy would come quite handy

[2017-03-04 19:23] dugoh opened #128 "Strange files in jor1k-sysroot"
The /usr/include/bits directory has 3 sockets in it that should be normal header files. Under /usr/share/X11/locale/... are another 3 sockets that should be XI18N object tables.

This is the first time I ever got this one out of gcc:

`/usr/include/sys/resource.h:18:27: fatal error: /usr/include/bits/resource.h: No such device or address`

[2017-03-06 19:33] s-macke commented on #128
The files have a size of zero in the filesystem
https://github.com/s-macke/jor1k-sysroot/blob/master/fs.json
and are supposed to have zero size. So the question is why the virtio/9p filesystem thinks that these are sockets.

[2017-03-06 19:51] s-macke commented on #128
Fixed.

[2017-03-06 19:51] #128 closed

[2017-06-25 19:20] Cdric49 opened #130 "qemu-or1k-static.atomic not available anymore"
Hello,

http://openrisc.debian.net/qemu-or1k-static.atomic is no longer available.
Is there any other location to download qemu-or1k-static.atomic ? (google can't help me)

Thanks

[2017-11-06 07:47] remisharrock opened #131 "new jor1k and cs-education boot bug"
Hi, could you help me, I tried to use the newest version of jor1k with a modified version of cs-education and the bootup of jor1k is freezing until I hit multiple times 'ENTER' in the terminal.

Here is a video to show the freeze and how I have to type ENTER multiple times to finish the bootup.

https://youtu.be/_rgFVUmC-Hk

Here is the source code:

https://github.com/remisharrock/sysbuild/tree/n

[2017-11-07 04:05] remisharrock commented on #131
Thanks Lawrence Angrave for your reply, here is your guess that you mentioned in your email (my answer below):

I tried to do an almost empty sys-runtime.js that is available here https://github.com/remisharrock/sysbuild/blob/63dbfc7baa1d34289977e2d54bac142d8cdb2a3f/webapp/src/app/sys-runtime.js

As you can see, everything is commented except the
`this.jor1kgui = new Jor1k(jor1kparameters);`
and t

[2017-11-07 14:34] remisharrock commented on #124
let me cross reference this bug
https://github.com/remisharrock/sysbuild/issues/3

[2017-11-07 20:24] s-macke commented on #131
I think it has to do with the commit https://github.com/s-macke/jor1k/commit/961316910e19711b84391e22e8a199e84f072b41

[2017-11-07 21:56] s-macke commented on #131
I cannot start the server to reproduce the problem. I get
[code]

[2017-11-07 22:06] s-macke commented on #131
Can you try to comment following lines in jor1k-worker-min.js please

[code]

[2017-11-07 22:13] s-macke commented on #124
Yes, this is the same bug as https://github.com/s-macke/jor1k/issues/41

[2017-11-07 22:29] s-macke commented on #131
or try the gh-pages branch please. I guess it has to do with timing changes and the idle mode of jor1k.

[2017-11-08 04:43] remisharrock commented on #131
@s-macke  Did you `npm install` before `gulp serve` ?

 @s-macke try the gh-pages branch : IT WORKED IT WORKED !! So happy!
So it is the difference between gh-pages and the master branch (maybe the code you found in fastcpu.js right ? - have to do some testing if you want more detailed feedback) Anyway the problem is gone with the gh-pages branch !!

[2017-11-08 05:02] remisharrock commented on #131
@s-macke It looks like if I use the master branch, even if I comment
[code]
it does not work.
But if I use gh-pages, it works !

[2017-11-08 05:05] remisharrock commented on #124
Any advance on this bug ?

[2017-11-08 20:58] s-macke commented on #124
Yes, right now.  https://github.com/s-macke/jor1k/commit/454784af39c51bbf409eeb7d10d504835431f679
Still have to fix another bug before I will put it online.

[2017-11-22 16:10] thaiwash opened #132 "python package installations fail"
[Errno 2] No such file or directory: '//lib/python2.7/site-packages/test-easy-install-168.write-test'
 
The installation directory you specified (via --install-dir, --prefix, or
the distutils default setting) was:
 
//lib/python2.7/site-packages/

[2017-11-23 10:31] thaiwash commented on #132
I cant use the emulation to run NLTK because of this.. is there a way to fix segmentation faults ? like increase memory or something?

[2017-11-23 11:03] thaiwash commented on #132
hmm, how do i close this issue?

[2017-11-23 11:28] thaiwash commented on #132
liek remove all cpu limitations and such?

[2017-11-23 19:52] thaiwash commented on #132
https://github.com/s-macke/jor1k/wiki/Breaking-the-1-billion-instructions-per-second-barrier-via-Dynamic-Recompilation-and-WebAssembly

should work

    ~ $ recompile /usr/bin/python
    --
    parent pid: 85

[2018-05-06 14:00] Daswf852 opened #134 "SMP core hangs on boot"
When using hte SMP core with multiple processors, the boot will hang after a while.
The MIPS counter will show that jor1k is running at full speed.
Last messages before hang:
[code]

[2018-05-10 09:08] hiroki-repo opened #135 "I can't use network in jor1k!"
Occurred Server 502 Error in web socket vpn(relay.widgetry.org)!

[2018-05-10 17:17] bsapwindows commented on #135
I believe the official relay has been down for some time. You can run your own relay using docker. See details here: [https://github.com/benjamincburns/websockproxy](https://github.com/benjamincburns/websockproxy)

[2018-05-11 15:03] remisharrock commented on #123
BIG NEWS!!!

We are proud to announce that the OpenRISC port for gdb has been merged upstream. This was done back in December 2017 so its a bit late notice, but here it is.

https://openrisc.io/2018/03/16/gdbupstreamandreleases

Let's JOR1K it! :)

[2018-05-12 18:06] s-macke commented on #135
I wrote the maintainer of the proxy.

[2018-05-14 13:09] s-macke commented on #123
Ok, will do it

[2018-05-20 10:00] s-macke commented on #123
I have recompiled the toolchain. It looks like I have more to do than just compile gdb. I have to Implement former unused and new CPU instructions.

[2018-05-20 12:10] remisharrock commented on #123
Yes! I was talking to a colleague that told me you would probably need to implement new CPU instructions to support GDB; that's beyond my skills but I can ask him more info if you need!

[2018-05-20 17:05] s-macke commented on #123
No, that's fine. The "safe"-CPU is already working with the new instructions.

[2018-05-21 22:15] s-macke commented on #123
Gdb compiles and runs, but crashes with a segmentation fault as soon as I try to debug something.
Also there seems to be another bug somewhere which leads to glitches in the terminal. The error is either in my emulation or gcc or musl. Hard to see.
The new Linux kernel also needs some tweaking. Half of my patches for the kernel no longer work.

[2018-05-22 11:37] s-macke commented on #123
This is my test environment: https://jor1k.com/jor1k/
Type "help" in the terminal and you see what I mean. The only difference here is, that I use the newest musl-lib and compiled it with the new toolchain using the new instructions.  Since musl ist just used to transfer the print commands from the unchanged ncurses libs to the kernel I am a bit puzzled.
Now I will try to compile the old musl lib

[2018-05-22 21:48] s-macke commented on #123
It is not a problem of musl. So it must be either in the new toolchain or in the emulation

[2018-05-26 09:57] s-macke commented on #123
Ok, I was able to compile the new kernel with all patches I need. Also I guess, that the problem with the terminal is a missing feature in my terminal emulation, because the program works fine in xterm.
So far, gdb still crashes. I will take a closer look to the or1k part of the gdb to figure out how this is supposed to work. I support the l.trap instruction.

[2018-05-26 17:52] bsapwindows commented on #123
Regarding terminal emulation, have you ever considered switching to [xterm.js](https://github.com/xtermjs/xterm.js/)? it's also friendly with operations like copy and paste within terminal window.

[Demo](https://vulnero.serveo.net/)

[2018-06-01 14:15] s-macke commented on #131
I have reverted the patch and also updated some libs. I hope to get gdb running soon.

[2018-06-01 14:17] s-macke commented on #123
I have considered it, but I think the main reason was, that such a terminal doesn't support streaming. E. g. it has to handle an incomplete utf-8 byte stream.

[2018-06-01 14:18] s-macke commented on #123
Anyhow, the problem with the terminal is solved. Now, after two weeks, I can finally try to find the problem in gdb.

[2018-06-03 10:58] s-macke commented on #123
I compiled everything without patches and for or1ksim. So nothing jor1k related. The same problems occur when you start gdb. Guess it is easier to ask  @stffrdhrn. The problems are segfaults when you run gdb. The easiest way to reproduce the problem is the following code, which can be tested on [jor1k.com](jor1k.com)

[code]

[2018-06-04 00:12] stffrdhrn commented on #123
Hello, good to see you are working on this. Sorry for the new instruction requirements.  From my brief read through the notes it looks like you are trying to run gdb on Linux binaries. Currently the support is only for native binaries i.e. newlib or the Linux kernel.  I would like to get Linux support working but haven't got around to it.

We are currently working on a gcc rewrite https://github.c

[2018-06-04 08:30] s-macke commented on #123
Thanks, didn't know that the gdb code is only for bare metal compilation.

Don't worry about the new instructions. The updates were necessary anyhow and I guess in the end they will speed up the emulation a little bit.

[2018-06-15 07:57] hiroki-repo commented on #135
Thank you Fix!

[2018-07-11 20:47] ramachandrak opened #136 "Headless use of emulator possible?"
I was wondering if it is possible to use the emulator in a headless way by interacting with it programmatically? For example, run some command and get its output?

(Sorry for creating an issue to ask a question. Please let me know if there are other alternate forums/email lists for questions.)

[2018-08-07 07:39] sr229 opened #137 "Allow jor1k use other linux distros"
Main Rationale behind this is the copy/v86 project.

A number of Linux distros and some OSes can run OpenRISC, and it would make sense if:

- Have options to use different OSes that supports RISC

- Allow images provided by the user using XHR (Rationale: copy/v86)

Considering how this project stacks up with other emulators, its fair we also give such feature since it'll promote a sense of customi

[2018-10-21 09:48] sr229 opened #138 "Trying to define jork1k-master-min.js will not load resources"
to reproduce:

- put `riscv.html` on project root.
- put the minified js and the sysroot on any dir.
- fix definitions in the script to point it on the dir that the master is located
- load document.

[2018-10-21 09:48] sr229 commented on #138
Result:
![image](https://user-images.githubusercontent.com/14976516/47265360-8382e780-d559-11e8-913d-0a24a386dacf.png)

[2019-03-02 20:35] Qwertylex opened #139 "Assembler messages: operand out of range"
All of the following projects fail to assemble on jor1k but work fine on x86
end up with very similar error:

https://github.com/gsson/gulp

and also:

<nn.c> https://gist.github.com/Qwertylex/8da95c27fa66af0401becd4837d03513
[code]
see lines 141 and 144 of <nn.s> https://gist.github.com/Qwertylex/75785601962e1d8ca1986fd7f88a6de6 for the lines mentioned in the above error...

and fseek-test:
https

[2019-05-06 04:01] ohisama opened #140 "gcc compile err"
~ $ cat main.c
#include <stdio.h>
#include <stdlib.h>

int main(int argc, char * argv[])
{
         int i;
         for (i = 1; i < argc; i++)
         {
                 printf("%s%s", (i == 1 ? "" : " "), argv[i]);
         }
         putchar('\n');
         exit(0);
}

~ $ gcc main.c
/tmp/cccDMhHm.s: Assembler messages:
/tmp/cccDMhHm.s:61: Error: operand out of range (1073741797 not between -33

[2019-05-06 19:19] s-macke commented on #140
Please try it again.

[2019-05-16 14:19] elixx opened #141 "File sync not working for existing profile"
I made a fix for the file sync process -- I encountered a bug where `inode.mtime` was undefined in the JavaScript console if a user profile was loaded via `/?user=blah` and the tarball for blah already exists. No updated tarball would get written.

This fixes the undefined variable:

[code]

[2019-05-16 23:50] elixx commented on #141
Er, my change reverted after I compiled the source. It looks like here is where the patch needs to be:
[code]

[2019-05-17 12:30] elixx commented on #141
I wonder if this could be sped up by defining a 'now' variable one level up in scope, and then referencing it for the assignment. So there's only one call out to Math / Date / getTime. I haven't done much JS.

[2019-05-17 23:22] elixx commented on #141
This might not be the best fix. It may be causing buggy file writes / deletions when doing a lot of rapid IOps (like extracting a dense tarball); Some messages about timestamps slightly in the future, and some disappearing files.

[2019-05-20 21:24] s-macke commented on #141
I have probably fixed the problem. Can you check it out, please?

[2019-05-21 10:19] elixx commented on #141
I backed out my change and rolled in your latest commits -- so far, so good. Initial testing is successful.

[2019-05-27 14:54] #141 closed

[2019-05-27 15:07] elixx commented on #137
I have been trying to bootstrap a basic system using buildroot and openADK (and just plain 'raw'), but haven't had much success. Seconding this; perhaps just an easy way to build a 9p filesystem and kernel to boot.

[2019-05-29 18:50] s-macke commented on #137
Unfortunately it is not easy to build for OpenRISC. I don't know of any distros supporting OpenRISC. Please let me know if this changed.

I am using my own scripts (www.jor1k.com/or1k-toolchain.tar.bz2) to build for the emulator. The kernel is patched to work flawless. Also I use my own code to generate my 9p specific file system. I don't see an easy method to support other distros out of the box.

[2019-05-30 07:43] sr229 commented on #137
hey @s-macke, [GCC supports OpenRISC compiling now on GCC9](https://www.phoronix.com/scan.php?page=news_item&px=GCC-9-Lands-OpenRISC), which should allow you to compile any distro for OpenRISC now.

[2019-05-31 10:03] elixx commented on #137
I've managed to do the binfmt + QEMU bit, and unbzip2 the existing jor1k filesystem and chroot into it, and attempting to build software that way, with a bit more horsepower, but I generally either run into missing header files for some of the installed (or sometimes missing) libraries,  or otherwise odd segfaults (probably QEMU issues there).

I think I may have created a system with https://open

[2019-05-31 11:45] andrakis commented on #137
Hello,
I've been using a version of GCC that matches the version that jor1k uses - it's statically compiled for x86_64 and runs on a current (13.10+) ubuntu. https://github.com/andrakis/openrisc-toolchain

I mirrored this tool chain because it is difficult to track down, but I've not run into issues compiling large C++ projects with it. (My own project using the POCO library cross compiles fine.)

[2019-06-11 05:53] onlytiancai opened #142 "I can't login：Bad inittab entry"
![1](https://user-images.githubusercontent.com/704914/59246849-2c4c9700-8c50-11e9-987d-9b4a8cbc700c.png)

![2](https://user-images.githubusercontent.com/704914/59246935-661d9d80-8c50-11e9-9fed-acd6e79d5d7c.png)

Command Line Display Please Enter Password

[2019-06-12 06:31] #142 closed

[2019-06-12 06:33] onlytiancai commented on #142
I't Windows git core.autocrlf true problem

It's OK to test it on Linux

[2019-06-13 04:39] audiorecorder opened #143 "network connection does not work."
network connection does not work.
relay.widgetry.org websocket server seems to be down.
Please reboot~

[2019-06-13 18:09] s-macke commented on #143
@benjamincburns
Please reboot

[2019-06-15 03:08] onlytiancai opened #144 "Python without readline,Arrow key failure"
![1](https://user-images.githubusercontent.com/704914/59546294-6de58680-8f5d-11e9-8175-ef774f90a593.png)

[2019-06-15 11:11] onlytiancai opened #145 "MergeFile do not support utf-8 char"
![1](https://user-images.githubusercontent.com/704914/59550758-38628c80-8fa1-11e9-8359-6b04aaea6d66.png)

[2019-06-23 01:48] benjamincburns commented on #143
Works now!

[2019-06-23 01:48] #143 closed

[2019-07-19 10:35] latincross opened #146 "Can't Ping the intranet machine"
Unable to connect to company intranet machines. Like ping 172.12.12.1.

[2019-08-21 00:06] tiborbaksa opened #147 "Cosine function in bc returns void result when executing a script"
# Steps to reproduce

1. Create a file called `test.bc` with the following content
[code]

2. Execute the following command
[code]

# Expected result
[code]

# Actual result
[code]

# Workaround
Direct the contents of the script into `bc` instead of pass by parameter:

[code]

# Other information

As shown by the workaround, the cosine function does work as expected when `bc` does not execute a sc

[2019-08-23 13:55] remisharrock commented on #123
@stffrdhrn any news on this ? @wbx-github ?

[2019-08-23 13:58] remisharrock commented on #123
looks like it's here !
https://sourceware.org/git/gitweb.cgi?p=binutils-gdb.git;a=commit;h=42e151bf4cc66b8781f2b139c6da320095f9a045

[2019-08-23 14:12] stffrdhrn commented on #123
@remisharrock yes, linux support was added a while back. Sorry, I think this discussion triggered it but I forgot to comment here.  I recently used it to debug a new glibc port for OpenRISC and it seems to work fine.  Please let me know if it works.

[2019-09-29 13:33] andrakis commented on #146
Jor1k uses a [websocket proxy](https://github.com/benjamincburns/websockproxy) for all of its traffic. By default, it's using one that someone else has setup. This proxy does not have any access to your intranet.

But by following the instructions on the above link, you can host your own proxy. When using Jor1k, you may notice this part in the URL: `relayURL=wss%3A%2F%2Frelay.widgetry.org%2F`. Thi

[2019-10-28 06:41] alexwenbj opened #148 "Does it support C++(CPP)?"
It is a great tool for the educators to teach kids. I dont know is it support the C++ language?Thank you.

[2019-10-28 12:07] andrakis commented on #148
It includes gcc (with g++), I think it was gcc 4.9.1. You can compile c++ software in the jor1k emulator, however large projects may run into compilation issues due to the low amount of memory jor1k runs with by default (32mb.)

You can run jor1k locally and change the amount of memory it uses, to allow larger files to compile, though it will be slow.

Another option is to cross compile. This invo

[2019-10-28 23:12] alexwenbj commented on #148
@andrakis Thank you very much,I will have a try.

[2019-10-28 23:12] #148 closed

[2019-10-29 03:02] alexwenbj commented on #148
@andrakis It seems it is not support CPP well,for example,I can't use the iostream lib:
`#include <iostream>`
will cause an error.

[2019-10-29 03:59] andrakis commented on #148
Are you using `g++` to compile? `gcc` can compile c++ code, but you'll need extra switches. `g++ file.cpp -o app` would compile a file named "file.cpp" and output a file named "app".

If you're still having trouble, please post the command you're using to compile and I can help you out further.

[2019-10-29 04:47] gbraad commented on #148
this is unrelated to the emulator, but rather about the image that is
provided.
please consider recreating the image to include the components you want.

On Tue, Oct 29, 2019 at 11:59 AM Julian Thatcher <notifications@github.com>
wrote:

--

   Gerard Braad | http://gbraad.nl
   [ Doing Open Source Matters ]

[2019-10-29 05:02] alexwenbj commented on #148
@andrakis What I did is in this platform:http://s-macke.github.io/jor1k/demos/compile.html,and just add the #include <iostream> in the sample file,then use the gcc to compile and run it.

[2019-10-29 06:55] andrakis commented on #148
@alexwenbj that demo saves to a file with a `.c` extension, so gcc compiles it as a c file. Below the code, you can specify gcc command line options (by default it has `-Wall`). If you add ` -x cpp` to that it should compile in cpp mode. Another option to try is `-lstdc++`.

This is more a missed feature of the demo page, that it doesn't have an option for g++ mode. Wouldn't be hard to add, since

[2019-10-29 07:43] alexwenbj commented on #148
@andrakis Thank you for your kindness.But if I add `-x cpp` to the command options, it told me `cpp language not recognized`.
As @gbraad said, maybe because of this image not support this feature?If I want to create my own image,where can I start from?

[2019-10-29 11:55] andrakis commented on #148
Apologies, the correct option is `-x c++`. This is what I get for reading stackoverflow answers and not testing if they're correct because I was on mobile. That demo page works with C++ using that option.

`g++` also exists on that filesystem (try running `g++` on the terminal to the left), so it would be a simple matter of some changes to [compile.html](https://github.com/s-macke/jor1k/blob/maste

[2019-10-29 12:03] gbraad commented on #148
The image was created using the OpenRISC toolchain.
This is a procedure that might be described somewhere in the docs or
else somewhere on one of the help pages related to OR1K. I do not
remember well, as it has been a long time ago.

[2019-10-29 12:50] alexwenbj commented on #148
@andrakis It works.Thank you.
@gbraad OK, thank you.

[2019-10-29 12:53] andrakis commented on #148
The toolchain build instructions can be found in [this repository](https://github.com/s-macke/jor1k-toolchain-builder) though the instructions are somewhat out of date.

I ended up finding a copy of the toolchain for cross compiling (which I [mirrored](https://github.com/andrakis/openrisc-toolchain)) so I could compile on x86_64. Theoretically you could compile a more modern gcc suite (since the d

[2019-10-29 13:03] gbraad commented on #148
hence it being a demo. We never expect someone to use this for serious
development. ;-)

On Tue, Oct 29, 2019 at 8:53 PM Julian Thatcher <notifications@github.com>
wrote:

--

   Gerard Braad | http://gbraad.nl
   [ Doing Open Source Matters ]

[2019-10-29 14:00] alexwenbj commented on #148
Thank you. @andrakis & @gbraad

[2019-10-29 17:48] gbraad commented on #148
I liken this to running an Amiga emulator and relive the ye olde days
of yore and run an obsolete C compiler like Dice to get your old demo
code compiled again, or trying to open RTF-formatted files to read a
document, or failing to interact with the average website Aweb or
iBrowse just don't parse the javascript or css. It is great fun, you
betcha! but I wouldn't want to do this exercise for more

[2019-10-30 00:07] alexwenbj commented on #148
@gbraad Yeah,I know. Because I am teaching the junior school students to learn C++,and it is easily for them to compile and run their code in browser——just open the browser and do it.So it is meaningful for me to use this online compile.

[2019-11-05 11:25] alexwenbj opened #149 "paste not work on Safari 13.0.2"
[http://s-macke.github.io/jor1k/demos/main.html](http://s-macke.github.io/jor1k/demos/main.html )
Paste not work on Mac OS + Safari 13.0.2

[2019-11-06 04:11] alexwenbj opened #150 "How to add/replace new module for this emulator?"
Most of the tools' version is too old, for example,the Python/GCC. I want to add new module for it,where can I get the packages or how to port them? I read the Wiki,but I can't find the docs.Thank you.

[2019-11-06 09:12] #150 closed

[2019-11-07 12:33] alexwenbj opened #151 "Someone installed Python 3.x in this emulator?"
Someone installed Python 3.x in this emulator?

[2020-01-31 09:14] rog77 opened #152 "Debugging?"
Can you please point me to any info that would enable me to work with htrace debugging of jor1k? Thanks!

[2020-02-02 00:02] kwccoin opened #153 "Running on ipad using soft keyboards"
Newbie question: how to use the keyboard under safari on ios

[2020-03-13 14:41] rog77 opened #154 "Peer to peer networking?"
Would it be possible to bypass the need for a constant connection to a private websockets server if one is trying to communicate between Jor1k clients, by implementing PeerJS?

[2020-03-15 19:44] s-macke commented on #154
You can use peerJS to establish a connection between the different clients. However the connection is based on ethernet frames.
So you have to implement some services at some point. E. g. a DHCP Server to provide an IP address. Otherwise you have to chose some sort of random IP for each client. Also you have to implement some sort of switch for the ethernet frames based on the MAC address.
All thi

[2020-03-15 20:25] benjamincburns commented on #154
I agree with Sebastian, but with one small addition. It could be fairly easy if you only wish to network together two instances of jor1k. Simply swap ethernet frames between the two VM instances as if you'd connected the two with an ethernet crossover cable. This will only allow direct communication between the two machines, however. You'd likely need to configure them with static IPs as well.

[2020-03-16 16:55] rog77 opened #155 "Redirect web traffic?"
Is there any setting to separate out http traffic, such that it goes directly to the target rather than to a/your websockets server?

With the addition of Google sign-in, couldn't one then mount a Google drive within the in browser linux? One could also download user/system settings/profiles from drive?

With the addition of a bluetooth keyboard, Jor1k runs nicely on a Fire TV stick from the stand

[2020-03-18 22:20] benjamincburns commented on #155
The network connection works by transmitting raw ethernet frames via a websocket back to a server that behaves more or less identically to a home router.

To achieve what you're asking on the client side, we'd need to build low-level stateful packet inspection into jor1k that detects in-transit HTTP requests, then transforms them into XHR or fetch requests, then transforms the results back into ra

[2020-03-19 15:01] rog77 commented on #155
Thanks for the response. I am not sure that this is where I should be asking such questions, and I don't mean to be a pain. I hope to use OR1K in a project soon, and as part of that would just love to be able to use Jor1k along side other implementations.

Can I ask what would the feasibility be of having a second interface in the browser that handled http\httsp direct to the web, such that is was

[2020-03-19 17:06] benjamincburns commented on #155
See my previous comment. The answer to this question is exactly the same, I'm afraid.

FWIW, when I implemented network support I really wanted it to be a 100% client-side solution, but for fairly obvious security reasons browsers don't allow for websites to initiate socket connections of any type to anything but the request origin, and even then you're restricted to websockets. Pedants will point

[2020-03-19 17:08] benjamincburns commented on #155
Something that I haven't had a chance to look into is WebRTC. This would likely still require a centralized server for network participant coordination, but I believe it allows for direct p2p connections to be made from browser-to-browser.

If someone does the legwork to come up with a decent scheme for using that in place of websockets, I'll be happy to write an alternative virtualized ethernet c

[2020-05-04 07:04] jcubic commented on #149
Same in Chrome/Linux.

[2020-08-05 08:56] pflegende commented on #152
... "htrace" sounds like Microsoft ... ?

Im not shure, but gbd dont know such option.
(may be Im wrong.)

also I thought, that sebastian @s-macke wrote sometimes somewhere, that it is associated with some particularities to implement/build gbd NOT on bare metal.
And in jor1k are `some `layers beetween this and the CL. ;)

At the moment inside jor1k you go debug c by printf the old way.
Or @s-mack

[2020-08-09 15:47] unicomp21 opened #156 "Pulling latest linux kernel and rebuilding jor1k"
I'd like to rebuild jor1k w/ the latest linux kernel.  My intention is to experiment w/ the wireguard protocol just added to the linux kernel, and run it over jor1k websockets.

[2020-08-12 18:50] pflegende commented on #156
great!

A tiny please by me:
It is so a big wish of some years to the santa:
;)
running in jor1k: "gcc -g mytool.c -o mytoolexe ; gdb mytoolexe"
but gdb wan't do it at the moment.

May be, it is not soooo much more to invest ... having a look to the at the moment in jor1k not solved problem with gdb? It is not running now. Something difficult with build says @s-macke sometimes ago ...,
long long a

[2020-08-13 19:59] s-macke commented on #156
I will try to compile the latest kernel.
You are right, that gdb did not work years ago. But it is worth trying again.

[2020-08-14 12:42] pflegende commented on #156
Good luck!
and much more than this:
KEEP HEALTHY!
:)

[2020-08-14 12:49] unicomp21 commented on #156
thanks @s-macke !

[2020-08-14 12:50] unicomp21 commented on #156
By the way, this is an amazing project.  It could change the world on a number of fronts.  I still can't believe how fast it runs in a web browser.

[2020-08-14 12:58] unicomp21 commented on #156
If I wan't to create communication between javascript in a web page and jor1k, w/ both running on the same/main web browser thread, what's the best way to do this?

To provide more background on what I plan to do, I'm wanting to compile and run boringtun within jor1k and then communicate from javascript/browser to jor1k using protobuf messages, probably something similar to an event/message bus.

[2020-08-14 13:30] unicomp21 commented on #156
How hard would it be to make Ubuntu 18.10 run in jor1k?  If it isn't easy, please disregard this query.

[2020-08-16 16:16] unicomp21 commented on #156
Is there any way I can help?  Would love to learn how to do this myself.

[2020-08-16 19:53] s-macke commented on #156
The kernel is now on version 5.8 with enabled wireguard. In order to cross compile some code you might want to use a pre build toolchain. https://github.com/openrisc/or1k-gcc/releases/tag/or1k-7.2.0-20180317
I haven't tested these, because I use my own toolchain which you can find here. https://jor1k.com/or1k-toolchain.tar.bz2

Ubuntu will not work on this machine. That would probably mean a full

[2020-08-16 20:00] s-macke commented on #156
jor1k network connection runs on the lowest level you can imagine. On Ethernet Frames. The frames are sent to a websocket host which then use a Linux TAP device.
The ethernet frames are handled in the following script: https://github.com/s-macke/jor1k/blob/master/js/master/dev/ethernet.js
Dependent on what you want to do exactly this can be very difficult. E. g. build you own TCP/IP Stack implemen

[2020-08-16 22:17] unicomp21 commented on #156
Thanks @s-macke !  Much appreciated.

In case I need it, is there an example somewhere for creating a pre-build?  Or maybe a howto page?

[2020-08-16 23:01] unicomp21 commented on #156
Feel like a kid again!  git clone's are slow, is there a way to run websocket ethernet proxy locally?

[2020-08-17 06:08] andrakis commented on #156
@unicomp21 Yes, you can run the websocket proxy locally in docker, see the [websocket proxy project page](https://github.com/benjamincburns/websockproxy) for a docker command that will set it up locally. You can then change the URL used by the jor1k webpage to point to the correct address (`&relayURL=wss://localhost:8080/` or thereabouts.) Note that there is a form of rate limiting applied, but th

[2020-08-17 12:06] unicomp21 commented on #156
@andrakis thinking I could speed of this interface dramatically using RTCDataChannel(s) instead of websockets, just need to find some time.

[2020-08-17 22:35] Th3G33k opened #157 "GCC : Operand out of range"
When i try to compile Toledo nanochess (https://nanochess.org/toledo_nanochess.c) and other programs, it shows :
/tmp/ccjeFOaJ.s: Assembler messages:
/tmp/ccjeFOaJ.s:1140: Error: operand out of range (1073741167 not between -33554432 and 33554431)
...
Do you have any idea where the error came from ?

[2020-08-18 19:50] s-macke commented on #157
Try it again. I have updated gcc and nanochess compiles just fine.

[2020-08-20 20:09] s-macke commented on #156
So far no luck with gdb. It has still not been ported to run natively.

What do you mean with pre build? The root filesystem or the emulator itself? For the emulator just look at compile.sh. You just need browserify. You can ignore all the webassembly stuff.

[2020-08-22 16:08] alexwenbj opened #158 "C program scanf() and printf() interrupt"
When I compile and run this program:
[code]
The behavior is not expected: it suspend to wait for input without the output:"Enter  a number:",when I input data and press enter,the "Enter a number:" and "Value = ..." output at the same line.

[2020-08-23 00:17] #158 closed, assigned to nobody

[2020-08-30 14:22] unicomp21 commented on #156
@s-macke Sorry, should have been more clear, I meant the root filesystem (ie building a new kernel)

On the emulator side, would it make sense to "jit" emulated instructions into webassembly?  If so, how hard would it be?

[2020-09-01 00:10] pflegende opened #159 "tmux want not go from 4.4.0 to 5.8.0 in jor1k"
thats not literally an "issue"
more a question for a hint to a solution
using tmux also in the new so beautifully nice
upgraded jor1k-kernel

at the moment tmux not want to say "helo" to me ...

[code]

in the old version
(on same time) it's running (e.g. tmux),
and surprisingly (for the last years) tmux was and is running without parameters on blank startet jor1k (openrisc 4.4.0)

[code]

would b

[2020-09-05 09:27] s-macke commented on #159
Maybe it is not the Linux kernel, but musl, which I also updated.
The detection of the ttyname right now looks like

https://github.com/ifduyue/musl/blob/master/src/unistd/ttyname_r.c

I wonder, why it does fail in my case.

[2020-09-05 20:06] s-macke commented on #159
I have fixed musl. Please try again.

[2020-09-08 01:55] pflegende commented on #159
Great! And awesome.
Now the tmux is running again and we can share screen by tmux over wireguard pockets.
Ingredible!
thx to munich. many times. Cool and good job done.

![Opera Momentaufnahme_2020-09-08_035129_s-macke github io](https://user-images.githubusercontent.com/52720420/92425209-d8986880-f186-11ea-9fd6-ffa75d2e6c8a.png)

[2020-09-08 01:55] #159 closed

[2020-09-16 15:19] remisharrock commented on #156
Ho I was hoping to have gdb support, should we contact the openrisc community and/or the gdb community for help ?

[2020-12-02 21:00] tiborbaksa commented on #147
I'm closing this issue because I cannot reproduce it anymore.

[2020-12-02 21:00] #147 closed

[2020-12-15 12:41] pflegende opened #160 "nmap after 5.8 not complete"
nmap 10.5.0.1 2>errLog

errLog says:
[code]

so complete errLog is needed I post it immediately
:)

happy preXmas
keep healthy
not forgot harmonica
;)

[2020-12-21 13:47] s-macke commented on #160
With 5.8 I updated musl and gcc as well. So I had just to recompile nmap. Updated version as well.

[2020-12-21 13:47] #160 closed

[2020-12-21 17:25] pflegende commented on #160
Dear Santa,

this was a incredible nice xmas gift!

[code]

also nice to see random on work
:)

merry Xmas

[code]

[2021-02-24 12:46] 7exe opened #161 "Hostname file"
Hello, I've been trying to set the hostname to a custom string on boot for a while now, but it has come to my attention that there is no /etc/hostname file, So I tried to add one, which did not change it. so I checked /proc/sys/kernel/hostname, and there it was, but from where did it set it? Because I could not find any files that could've set it to "openrisc".

This is more of a question than a b

[2021-03-02 22:35] benjamincburns commented on #161
This likely has the details that you're looking for: https://kerneltalks.com/linux/all-you-need-to-know-about-hostname-in-linux/

[2021-03-02 22:35] #161 closed

[2021-04-01 17:29] eridal opened #162 "Linked page leads to 404"
Maybe you are already aware, if so please feel free to close and disregard this one:

[2021-04-21 07:14] DawnofMan commented on #155
@benjamincburns All I tried was to setup Apache webserver inside the VM and hosted a website to serve outside the VM. The websockproxy DHCP assigned VM IP is not reachable from the host machine. Any suggestion to web-host inside VM and server outside?

[2021-04-21 07:24] s-macke commented on #162
Actually it worked for me till today.
Fixed, please check.

[2021-04-22 07:00] benjamincburns commented on #155
@DawnofMan that's likely one for another issue, but I'll answer here anyway. What you're trying to do is the same as running a web server in your home network and trying to access it via the public internet. To do so you'd need to set up a port mapping (port forwarding rule) on your home router.

Websockproxy is analagous to your home router in this case. That is, it behaves as a DHCP service to a

[2021-04-22 07:01] benjamincburns commented on #155
I'm going to close this issue as I don't believe it's technically feasible to address the initial problem raised, and I'd rather new discussion topics be directed to new issues.

[2021-04-22 07:01] #155 closed

[2021-07-16 17:54] JianmingJin opened #163 "g++ can't compile code with string class correctly"
For the simple C++ code, G++ display error message of " segmentation fault".

#include <string>
#include<iostream>
using namespace std;
int main() {
    string s;
    cin >> s;
    cout << s;
    return 0;
}

However,  initialize "s" as an empty string , the compile result is OK.
I am very appreciate if anyone can  help to solve the problem.

[2021-07-28 15:35] pflegende opened #164 "starting from several ip over a range of some days: no lease"
try to connect in the 10.5.*.* network,
checking ping 8.8.8.8
reloading some times (F5),
using different hosts with fix ip or dynamic;
but also after some days it was allways the same:

`no lease`

is it only temporary down?

[2021-07-30 17:34] s-macke commented on #164
@benjamincburns can you check the proxy server, please.

[2021-08-02 00:54] pflegende commented on #164
... ok, I will try it again.
.
Last result was:
in every try - jor1k system loads ok, every inside runs ok, only "no lease"
.
the 3 different hosts it runs on:
2x different fix ip (may be with proxy, but if so: different proxy; but could not touch it)
2x dyn ip (no update, nothing changed since last lease through jor1k)
(1x VPN)
everytime same result
.
I understand it so, from munich it runs ok?
I

[2021-08-02 01:24] benjamincburns commented on #164
This is my fault, sorry. The certificate has expired and I need to fix certbot but haven't had a chance to do so yet. Hopefully I can fix this in a day or two. Sorry for the inconvenience.

[2021-08-02 07:12] pflegende commented on #164
@benjamincburns
... not at all,
very nice to hear that it would run again.
Be calm and do not things too hurry ..
;)

@s-macke
thank you, for calling Benjamin.
:)

[2021-08-03 13:28] benjamincburns commented on #164
Apparently my `certbot` was old enough that it didn't have ACMEv2 support. A `sudo apt upgrade -y && sudo certbot renew` took care of it. Looks to be all good now.

![image](https://user-images.githubusercontent.com/803016/128023651-e04a87b1-afc2-44b2-bfbe-3eb2ccaa49ac.png)

[2021-08-03 13:28] #164 closed

[2021-08-03 14:15] pflegende commented on #164
I appreciate your feedback.

ho, ho ...
## runs very well
I love it, stable over 8(?) years, several browser types. For kids and grandmothers. Also with kernel update and adding WireGuard and much more by @s-macke . And with Benjamins, now for next 8 years, everrunning `certbot`.

You made my day.

![image](https://user-images.githubusercontent.com/52720420/128026167-8c5fb875-aaaf-429d-8a79-1465b5

[2021-08-16 07:39] Unzor opened #165 ""links -g" command not working,"

[2021-08-16 07:40] Unzor commented on #165
Every time I use "links -g", these errors come up:
[code]

[2021-08-17 21:29] s-macke commented on #165
In principle I just have to recompile. But this is more difficult than expected.

[2021-09-01 19:04] #162 closed

[2021-11-20 14:07] Bohan-hu opened #166 "Error: failed to create CPU"
When trying to start the RISC-V simple demo, I got stuck in this page.
<img width="637" alt="image" src="https://user-images.githubusercontent.com/32394818/142729264-d7248c60-e415-44de-8368-e06bb60ef88c.png">

Here is the console output:
[code]

[2021-11-23 00:49] ysangkok commented on #41
Closing this bug since #124 contains a simpler reproduction.

[2021-11-23 00:49] #41 closed

[2021-12-28 10:44] proxy-m commented on #154
Related to:
#155 [Redirect web traffic on jor1k],
[#198 [Use networking without the websocket proxy on v86]](https://github.com/copy/v86/issues/198),
[#23 [Network support on v86]](https://github.com/copy/v86/issues/23),
[#569 [Networking between two or more instances on v86]](https://github.com/copy/v86/issues/569).

[2021-12-29 02:21] hello-smile6 commented on #154
Ooh!

[2022-02-10 04:53] SAARA2021 opened #167 "Vmos run"
Android run vmis

[2022-02-20 09:30] bertung opened #168 "[QUESTION] communication with browser"
Is there a more efficient 2-way communication implementation other than the COM ports? something like a virtual network adapter  oe USB driver? Has anymore implemented such device for jor1k?

[2022-02-20 09:35] bertung commented on #168
I think ethernet.js can be repurposed to make in browser communication possible instead of connecting to a web socket.

[2022-02-20 09:37] #168 closed

[2022-02-24 02:59] hello-smile6 opened #169 "Crashes when trying to create tarball with `/usr` directory"
To fix this, use `showSaveFilePicker()`

[2022-04-15 07:39] pflegende opened #170 "easter 2022"
@s-macke @benjamincburns

many years I work with some in Browser Linux applications. mostly I do so with jor1k. we found it is a very good tool for education purpose and also for nursing in dementia context.

 the week before Easter was a real passion week. one of our clients lost his loved one. She died after a long dementia career. So we often live with such Events, but this time :The war nearby

[2022-04-26 00:47] Alex-A137 opened #171 "how to copy paste"
please help fast

[2022-04-29 21:39] Alex-A137 commented on #171
it's been four days please respond

[2022-04-29 21:41] Alex-A137 opened #172 "I HAVE A VERY SERIOUS AND IMPORTANT QUESTION"
can it run minecraft

[2022-05-01 00:14] pflegende commented on #170
may be
time to close this

[2022-05-01 00:14] #170 closed

[2022-05-16 01:26] benjamincburns commented on #172
I think it's possible, but it would take a large, large amount of work. The official game would definitely be a struggle too, as it likely would need OpenGL or Vulkan. Jor1k doesn't have any kind of emulated GPU support, so they'd need to be set up with a software rendering pipeline that writes to the framebuffer device.

If anyone would actually want to take this on, you'd want to start off by ge

[2022-05-16 07:32] jcubic commented on #171
This project is not maintained, the last commit was done last year ago.

[2022-06-01 22:42] donno2048 commented on #165
Any solution?

[2022-07-26 21:47] pflegende opened #173 "seems the WAN connection is lost since some hours, may be like 2021 in #164"
since 5 or 6 hours the internet is gone from jor1k:

ping to 10.5.0.1 is fine but not outside like 8.8.8.8 or others.
Also with telnet or ssh: nothing outside.

the screen now:
![Opera Momentaufnahme_2022-07-26_233928_s-macke github io](https://user-images.githubusercontent.com/52720420/181118450-a8f612d4-07a1-413a-9f4d-ea47a50ae986.png)

May be, something like:

# #164
---
This is my fault, sorry

[2022-07-26 22:02] pflegende commented on #173
the global project:
https://twitter.com/pflegedissens/status/1552051463744094209
;)

[2022-07-27 00:25] benjamincburns commented on #173
@pflegende Please don't stalk people on twitter for things like this. Hijacking other comment threads is quite rude.

[2022-07-27 01:05] benjamincburns commented on #173
This is not an issue with jor1k, so I'm closing this. Please watch benjamincburns/websockproxy#10 for updates.

[2022-07-27 01:05] #173 closed

[2022-07-27 02:01] pflegende commented on #173
I am very sorry that it came across as rude behavior. The comment about the wind power seemed inviting as a fun trigger for the jokingly assumed power failure. Should only be a joke regarding the debate on wind power that is also ongoing here and at the same time take away any sharpness from the request.

I'm so sorry!